	
	/************************************
	*									*
	*	Estilos Plantilla Protostar		*
	*									*
	*   Fechas Modificacion 12-03-2015  *
	*									*
	*************************************/
	h1,h2,h3,h4,h5,h6,.site-title{
					font-family: 'Open Sans', sans-serif;
				}
	body.site
			{
				/* border-top: 3px solid #0088cc; */
				background-color: #fff;
				}
			a
			{
				color: #0088cc;
			}
			.navbar-inner, .nav-list > .active > a, .nav-list > .active > a:hover, .dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover, .nav-pills > .active > a, .nav-pills > .active > a:hover,
			.btn-primary
			{
				background: #0088cc;
			}
			.navbar-inner
			{
				-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1), inset 0 30px 10px rgba(0, 0, 0, .2);
				-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1), inset 0 30px 10px rgba(0, 0, 0, .2);
				box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1), inset 0 30px 10px rgba(0, 0, 0, .2);
			}
	
	
	/************************************
	*									*
	*	Fin Plantilla Protostar - Home	*
	*									*
	*    								*
	*************************************/
	
	/************************************
	*									*
	*	Modulo Lofarticlescroller		*
	*									*
	*   Fechas Modificacion 12-03-2015  *
	*									*
	*************************************/
	
	.lof-articlessroller {
		position: relative;
	}
	
	.lof-articlessroller .lof-container {
		height: 100%;
		width: 100%;
		position: relative;
	}
	
	.lof-articlessroller .lof-row {
		float: left;
		position: relative;
		overflow: hidden;
		padding-bottom: 12px;
		padding-top: 8px
	}
	/* main flash */
	.lof-articlessroller .lof-main-wapper {
		overflow: hidden;
		padding: 0px;
		margin: 0px;
		position: relative;
		overflow: hidden;
		z-index: 1
	}
	
	.lof-articlessroller .lof-main-wapper .lof-main-item {
		overflow: hidden;
		padding: 0px;
		margin: 0px;
		height: 100%;
		width: 100%;
		position: absolute;
	}
	/** BULLETS NAVIGATOR **/
	.lof-articlessroller ul.lof-navigator {
		top: 0;
		padding: 0;
		margin: 0;
		position: absolute;
		width: 10000;
	}
	
	.lof-articlessroller .lof-navigator-outer {
		position: relative;
		margin-right: 20px;
		overflow: hidden;
		float: right;
		z-index: 3
	}
	
	.lof-articlessroller .lof-navigator li {
		background: none !important;
		padding: 0 !important;
		margin: 0 !important;
		height: 20px !important;
		width: 23px !important;
		text-indent: 9999px;
		cursor: hand;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	
	.lof-articlessroller .lof-navigator li span {
		background: url(images/dot.png) no-repeat right top;
		display: block;
		color: #FFF;
		display: block;
		margin: 4px 5px;
	}
	
	.lof-articlessroller .lof-navigator li.active span {
		background: url(images/dot.png) no-repeat left top;
		display: block;
		color: #FFF;
	}
	/** BUTTON CONTROL **/
	.lof-articlessroller .lof-next, .lof-articlessroller .lof-previous {
		position: absolute;
		z-index: 10;
		top: 47%;
		height: 36px;
		width: 36px;
		display: block;
		text-indent: -999999px;
		overflow: hidden;
	}
	
	.lof-articlessroller .lof-next {
		background: url(images/arrow-right.png) no-repeat;
		right: -14px;
	}
	
	.lof-articlessroller .lof-next:hover {
		background: url(images/arrow-right.png) no-repeat;
	}
	
	.lof-articlessroller .lof-previous {
		background: url(images/arrow-left.png) no-repeat;
		left: -13px;
	}
	
	.lof-articlessroller .lof-previous:hover {
		background: url(images/arrow-left.png) no-repeat;
	}
	
	.lof-articlessroller .lof-vertical .lof-next {
		top: -13px;
		right: 45%;
		background: url(images/arrow-top.png)
	}
	
	.lof-articlessroller .lof-vertical .lof-previous {
		top: auto;
		left: auto;
		bottom: -13px;
		right: 45%;
		background: url(images/arrow-bottom.png)
	}
	/**  NAVIGATOR - BOTTOM alignment **/
	.lof-articlessroller .lof-bottom .lof-navigator-outer {
		position: absolute;
		right: 0px;
		bottom: 0px;
		background: #CCC;
		-moz-border-radius: 8px 8px 8px 8px;
	}
	/** NAVIGATOR - TOP alignment  **/
	.lof-articlessroller .lof-top .lof-navigator-outer {
		position: absolute;
		right: 10px;
		top: 10px;
	}
	/**  NAVIGATOR - RIGHT alignment **/
	.lof-articlessroller .lof-right .lof-navigator-outer {
		position: absolute;
		right: 0px;
		top: 10px;
	}
	/**  NAVIGATOR - LEFT alignment **/
	.lof-articlessroller .lof-left .lof-navigator-outer {
		position: absolute;
		left: 10px;
		top: 10px;
	}
	/** THUMBNAIL - LEFT alignment **/
	.lof-articlessroller .lof-thumbleft .lof-inner .lof-title {
		clear: none;
		float: none;
		padding: 0
	}
	
	.lof-articlessroller .lof-thumbleft a.lof-image-link {
		float: left;
		padding: 0 20px 10px 0
	}
	
	.lof-articlessroller .lof-thumbleft img.lof-image {
		float: left;
	}
	/** THUMBNAIL - RIGHT alignment **/
	.lof-articlessroller .lof-thumbright .lof-inner .lof-title {
		clear: none;
		float: none;
		padding: 0
	}
	
	.lof-articlessroller .lof-thumbright a.lof-image-link {
		float: right;
		padding: 0 20px 10px 0
	}
	
	.lof-articlessroller .lof-thumbright img.lof-image {
		float: right;
	}
	/*** CSS STYLE FOR ITEM ****/
	.lof-articlessroller .lof-inner {
		background: #F0F0F0;
		-moz-transition: background-color 1s;
		-webkit-transition: background-color 1s;
		margin: 0 10px;
		position: relative;
		padding: 10px 8px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	}
	
	.lof-articlessroller .lof-clearfix {
		clear: both;
		width: 100%;
		height: 1px
	}
	
	.lof-articlessroller .lof-inner:hover {
		background: #F9F9F9;
		-moz-transition: background-color 1s;
		-webkit-transition: background-color 1s;
		-moz-box-shadow: 0 0 10px #C3C3C3;
		-webkit-box-shadow: 0 0 10px #EFEFEF;
		box-shadow: 0px 0px 10px #EFEFEF;
	}
	
	.lof-articlessroller .lof-inner img.lof-image {
		background: #F0F0F0;
		border: 5px solid #F0F0F0;
		border: #E8E8E8 solid 1px;
		padding: 5px;
		background: #FFF;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		float: none;
		margin: 0
	}
	
	.lof-articlessroller .lof-inner .lof-title {
		clear: both;
		padding: 15px 0px 5px 0px;
		position: relative;
		display: block;
		font-weight: bold;
	}
	
	.lof-articlessroller .lof-inner a {
		text-decoration: none;
		text-transform: none
	}
	
	.lof-articlessroller .lof-inner .lof-readmore {
		display: block;
		clear: both;
		padding: 5px 0px 0px 20px;
		background: url(images/readmore.png) no-repeat left 8px;
	}
	
	.lof-articlessroller .lof-infor {
		height: 20px;
		top: 20px;
		left: 0;
		height: 30px;
		color: #FFF;
		display: none;
	}
	
	/************************************
	*									*
	*	FIn Modulo Lofarticlescroller	*
	*									*
	*    								*
	*************************************/
	
	
	
	
	/************************************
	*									*
	*	Modulo Noticias - Home			*
	*									*
	*   Fechas Modificacion 12-03-2015  *
	*									*
	*************************************/
	
	
	.nsp { 
		position: relative; 
	}
	.nspMain { 
		overflow: hidden; 
	}
	
	/* Pagination */
	/*.nspBotInterface,
	.nspTopInterface { 
		clear: both; 
		float: left;
		margin: 2px 0;
		overflow: hidden; 
	}*/
	
	/* 
		Interface - for different looking Top and Bottom interface use the following classes:  
		.nspTopInterface
		.nspBotInterface (e.g.: .nspTopInterface .nspPagination li ...)
	*/
	.nspPagination { 
		float: left;
		list-style-type: none!important; 
		margin: 5px 0 0 0!important; 
		padding: 0!important; 
	}
	.nspPagination li { 
		background: #ccc;
		-webkit-border-radius: 50%;
		   -moz-border-radius: 50%;
		        border-radius: 50%;
		cursor:pointer; 
		float:left; 
		padding: 0!important;
		height: 14px; 
		margin: 1px 4px 0 0!important; 
		text-indent:-999em; 
		width: 14px; 
	}
	/*.nspPagination li:hover,
	.nspPagination li.active { 
		background-color: #999;
	}*/
	.nspNext,
	.nspPrev { 
		background: #fff;
		border: 2px solid #ccc;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		cursor: pointer;
		float: left; 
		height: 24px; 
		margin: 0 0 0 4px;
		text-indent: -999px;
		width: 24px;
	}
	.nspPrev:before {
		border: 10px solid #ccc;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-left: none;
		content: "";
		display: block;
		float: left;
		margin: 3px 0 0 4px;
	}
	.nspNext:before {
		border: 10px solid #ccc;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-right: none;
		content: "";
		display: block;
		float: left;
		margin: 3px 0 0 6px;
	}
	.nspNext:hover,
	.nspPrev:hover { 
		border-color: #999;	
	}
	.nspPrev:hover:before {
		border-right-color: #999;
	}
	.nspNext:hover:before {
		border-left-color: #999;
	}
	
	/* Articles layout */
	.nspArts { 
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		overflow: hidden; 
		padding: 3px;
	}
	.nspArtPage { 
		float: left; 
	}
	.nspArt { 
		-webkit-box-sizing: border-box; 
		   -moz-box-sizing: border-box;
		        box-sizing: border-box; 
		float:left; 
	}
	.nspArt div { 
		overflow: hidden; 
	}
	.nspArt h4.nspHeader { 
		font-size: 24px;
		margin: 0;
		padding: 10px 0 15px 0;
	}
	.nspArt h4.nspHeader a { 
		text-decoration: none;
	}
	.nspArt h4.nspHeader a:hover { }
	.nspArt img.nspImage { 
		border: none;
		display: block;
	}
	.nspArt .nspImageWrapper {
		display: block;
	}
	.nspArt p.nspText { 
		display: block!important;
		margin: 0;
		padding-bottom: 30px !important;
		word-break: break-word;
	}
	.nspArt p.nspText a { }
	.nspArt p.nspText a:hover { }
	.nspArt p.nspInfo { 
		display: block!important;
		font-size: 90%; 
	}
	.nspArt p.nspInfo a { }
	.nspArt p.nspInfo a:hover { }
	.nspArt p.nspInfo > .nsp-stars {
		padding: 0 10px 0 0!important;
	}
	.nspArt .nsp-star-0:before,
	.nspArt .nsp-star-1:before {
		content: "★";
		color: #6c6c6c;
		font-family: Arial, sans-serif;
		font-size: 14px;
	}
	.nspArt .nsp-star-1:before {
		color: #f7a834;
	}
	.nspArt .tleft { 
		text-align: left; 
	}
	.nspArt .tright { 
		text-align: right; 
	}
	.nspArt .tcenter { 
		text-align: center;
	}
	.nspArt .tjustify { 
		text-align: justify; 
	}
	.nspArt .fleft { 
		float: left; 
	}
	.nspArt .fright { 
		float: right; 
	}
	.nspArt .fnone { 
		clear: both; 
		float: none;
		width: 100%; 
	}
	.readon.left,
	.readon.right,
	.readon.center { 
		clear: both; 
	}
	.readon.left { 
		float: left; 
	}
	.readon.right { 
		float: right; 
	}
	.readon.center { 
		display: inline; 
		float: none; 
	}
	.nspAvatar { }
	
	/* Links layout */
	.nspLinks { 
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 3px;
	}
	.nspList { 
		float: left; 
	}
	.nspLinks ul { 
		list-style-type: none!important; 
		padding: 0!important; 
	}
	.nspLinks .nspLinkScroll1 ul li { 
		background: #fff;
		border-top: 1px solid #eee;
		margin: 0!important;
		padding: 10px 0;
	}
	.nspLinks .nspLinkScroll1 ul li:first-child {
		border-top: none;
	}
	.nspLinks ul li:hover { }
	.nspLinks ul li h4 { }
	.nspLinks ul li h4 a { 
		text-decoration: none; 
	}
	.nspLinks ul li h4 a:hover { }
	.nspLinks ul li p { }
	
	/* positioning */
	.nspArts.left { 
		float: right; 
	}
	.nspLinksWrap.left { 
		float: left;
	}
	.nspArts.right { 
		float: left; 
	}
	.nspLinksWrap.right { 
		float: right; 
	}
	
	/* make element unvisible */
	.nspMain .unvisible {  
		left: -9999px;  
		position: absolute; 
		top: auto; 
	}
	
	/* Responsive layout */
	.gkResponsive img.nspImage,
	img.nspImage.gkResponsive { 
		height: auto;
		width: 100%!important; 
	}
	.nspArt img.nspImage { 
		max-width: 100%; 
	}
	.nspArtScroll1,
	.nspLinkScroll1 { 
		clear: both;
		width: 100%; 
	}
	.nspPages1 { width: 100%; }
	.nspPages2 { width: 200%; }
	.nspPages3 { width: 300%; }
	.nspPages4 { width: 400%; }
	.nspPages5 { width: 500%; }
	.nspPages6 { width: 600%; }
	.nspPages7 { width: 700%; }
	.nspPages8 { width: 800%; }
	.nspPages9 { width: 900%; }
	.nspPages10 { width: 1000%; }
	.nspCol1 { width: 100%; }
	.nspCol2 { width: 50%; }
	.nspCol3 { width: 33.333333%; }
	.nspCol4 { width: 25%; }
	.nspCol5 { width: 20%; }
	.nspCol6 { width: 16.666666%; }
	.nspCol7 { width: 14.285714%; }
	.nspCol8 { width: 12.5%; }
	.nspCol9 { width: 11.111111%; }
	.nspCol10 { width: 10%; }
	.nspCol11 { width: 9.090909%; }
	.nspCol12 { width: 8.333333%; }
	.nspCol13 { width: 7.692307%; }
	.nspCol14 { width: 7.142857%; }
	.nspCol15 { width: 6.666666%; }
	.nspCol16 { width: 6.25%; }
	.nspCol17 { width: 5.882352%; }
	.nspCol18 { width: 5.555555%; }
	.nspCol19 { width: 5.263157%; }
	.nspCol20 { width: 5%; }
	
	/* Animation */
	.nspList,
	.nspArtPage { 
		opacity: 0; filter: alpha(opacity=0);
		-webkit-transition: opacity 0.5s ease-out; 
		   -moz-transition: opacity 0.5s ease-out; 
		    -ms-transition: opacity 0.5s ease-out; 
	      	 -o-transition: opacity 0.5s ease-out; 
		        transition: opacity 0.5s ease-out;
	}
	.nspList.active,
	.nspArtPage.active { 
		opacity: 1; filter: alpha(opacity=100);
	}
	
	/* Suffix neutral */
	.neutral {
		color: #999;
		font-size: 13px;
	}
	.neutral a {
		color: #333;
		text-decoration: none;
	}
	.neutral a:active,
	.neutral a:focus,
	.neutral a:hover {
		color: #777;
	}
	.neutral .nspHeader{
		font-size: 18px;
		font-weight: 400;
	}
	.neutral .nspInfo a {
		padding-right: 5px;
	}
	.neutral .readon {
		background: #333;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
		        border-radius: 3px;
		color: #fff;
		padding: 6px 10px;
	}
	.neutral .readon:active,
	.neutral .readon:focus,
	.neutral .readon:hover {
		background: #999;
		color: #fff;
	}
	.neutral .nspLinks ul li h4 {
		font-size: 15px;
		margin: 0 0 10px 0;
	}
	
	/* Mobile */
	@media (max-width: 800px) {
		.nspArts,
		.nspLinksWrap {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			overflow: hidden;
			padding: 0 32px;
			position: relative;
		}
		
		.nspPrev,
		.nspNext {
			left: 0;
			position: absolute;
			top: 20%;
			z-index: 101;
		}
		
		.nspNext {
			left: auto;
			right: 0;
		}
		
		.nspPagination {
			display: none;
		}
	}
	
	@media (max-width: 600px) {
		.nspArt {
			width: 100%;
		}
	}
	
	/************************************
	*									*
	*	FIn Modulo Noticias - Home		*
	*									*
	*    								*
	*************************************/
	
	
	
	/************************************
	*									*
	*	Modulo Banner - Home			*
	*									*
	*   Fechas Modificacion 12-03-2015  *
	*									*
	*************************************/
	
	
	
	#top {overflow: visible !important; }
	
	.camera_wrap a,.camera_wrap a:hover {
		background: url(/modules/mod_slideshowck/images/blank.gif) !important;
	}
	
	.camera_wrap a,.camera_wrap a:hover, .camera_wrap img,
	.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
	.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
	.camera_thumbs_wrap a, .camera_thumbs_wrap img,
	.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
	.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
		background: none;
		border: 0;
		font: inherit;
		font-size: 100%;
		margin: 0;
		padding: 0;
		vertical-align: baseline;
		list-style: none
	}
	.camera_wrap {
		/*float: left;*/
		position: relative;
		z-index: 0;
	}
	.camera_wrap img {
		max-width: none!important;
	}
	.camera_fakehover {
		height: 100%;
		min-height: 60px;
		position: relative;
		width: 100%;
		z-index: 1;
	}
	.camera_wrap {
		/*width: 100%;*/
	}
	.camera_src {
		display: none;
	}
	.cameraCont, .cameraContents {
		height: 100%;
		position: relative;
		width: 100%;
		z-index: 1;
	}
	.cameraSlide {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
	.cameraContent {
		bottom: 0;
		display: none;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
	.camera_target {
		bottom: 0;
		height: 100%;
		left: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		text-align: left;
		top: 0;
		width: 100%;
		z-index: 0;
	}
	.camera_overlayer {
		bottom: 0;
		height: 100%;
		left: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 0;
	}
	.camera_target_content {
		bottom: 0;
		left: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
	}
	.camera_target_content .camera_link {
		display: block;
		height: 100%;
		text-decoration: none;
	        background: url(/modules/mod_slideshowck/images/blank.gif) !important;
	}
	.camera_loader {
	    background: #fff url(/modules/mod_slideshowck/images/camera-loader.gif) no-repeat center;
		background: rgba(255, 255, 255, 0.9) url(/modules/mod_slideshowck/images/camera-loader.gif) no-repeat center;
		border: 1px solid #ffffff;
		-webkit-border-radius: 18px;
		-moz-border-radius: 18px;
		border-radius: 18px;
		height: 36px;
		left: 50%;
		overflow: hidden;
		position: absolute;
		margin: -18px 0 0 -18px;
		top: 50%;
		width: 36px;
		z-index: 3;
	}
	.camera_bar {
		bottom: 0;
		left: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 3;
	}
	.camera_thumbs_wrap.camera_left .camera_bar, .camera_thumbs_wrap.camera_right .camera_bar {
		height: 100%;
		position: absolute;
		width: auto;
	}
	.camera_thumbs_wrap.camera_bottom .camera_bar, .camera_thumbs_wrap.camera_top .camera_bar {
		height: auto;
		position: absolute;
		width: 100%;
	}
	.camera_nav_cont {
		height: 65px;
		overflow: hidden;
		position: absolute;
		right: 9px;
		top: 15px;
		width: 120px;
		z-index: 4;
	}
	.camera_caption {
		bottom: 0;
		display: block;
		position: absolute;
		width: 100%;
	        z-index: 1000;
	}
	.camera_caption > div {
		padding: 10px 20px;
	}
	.camerarelative {
		overflow: hidden;
		position: relative;
	}
	.imgFake {
		cursor: pointer;
	}
	.camera_prevThumbs {
		bottom: 4px;
		cursor: pointer;
		left: 0;
		position: absolute;
		top: 4px;
		/*visibility: hidden;*/
		width: 30px;
		z-index: 10;
	}
	.camera_prevThumbs div {
		background: url(/modules/mod_slideshowck/images/camera_skins.png) no-repeat -160px 0;
		display: block;
		height: 40px;
		margin-top: -20px;
		position: absolute;
		top: 50%;
		width: 30px;
	}
	.camera_nextThumbs {
		bottom: 4px;
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 4px;
		visibility: hidden;
		width: 30px;
		z-index: 10;
	}
	.camera_nextThumbs div {
		background: url(/modules/mod_slideshowck/images/camera_skins.png) no-repeat -190px 0;
		display: block;
		height: 40px;
		margin-top: -20px;
		position: absolute;
		top: 50%;
		width: 30px;
	}
	.camera_command_wrap .hideNav {
		display: none;
	}
	.camera_command_wrap {
		left: 0;
		position: relative;
		right:0;
		z-index: 4;
	}
	.camera_wrap .camera_pag .camera_pag_ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: right;
	        height: auto !important;
	        height: 28px;
	}
	.camera_wrap .camera_pag .camera_pag_ul li {
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		cursor: pointer;
		display: inline-block;
	        float: none !important;
	        float:left;/*overflow:hidden;*/
		height: 16px;
		margin: 20px 5px;
		position: relative;
		/*text-align: left;*/
		text-indent: 9999px;
		width: 16px;
		overflow: visible !important;
		padding: 0;
	}
	
	.camera_commands_emboss .camera_pag .camera_pag_ul li {
		-moz-box-shadow:
			0px 1px 0px rgba(255,255,255,1),
			inset 0px 1px 1px rgba(0,0,0,0.2);
		-webkit-box-shadow:
			0px 1px 0px rgba(255,255,255,1),
			inset 0px 1px 1px rgba(0,0,0,0.2);
		box-shadow:
			0px 1px 0px rgba(255,255,255,1),
			inset 0px 1px 1px rgba(0,0,0,0.2);
	}
	.camera_wrap .camera_pag .camera_pag_ul li > span {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		height: 8px;
		left: 4px;
		overflow: hidden;
		position: absolute;
		top: 4px;
		width: 8px;
	}
	.camera_commands_emboss .camera_pag .camera_pag_ul li:hover > span {
		-moz-box-shadow:
			0px 1px 0px rgba(255,255,255,1),
			inset 0px 1px 1px rgba(0,0,0,0.2);
		-webkit-box-shadow:
			0px 1px 0px rgba(255,255,255,1),
			inset 0px 1px 1px rgba(0,0,0,0.2);
		box-shadow:
			0px 1px 0px rgba(255,255,255,1),
			inset 0px 1px 1px rgba(0,0,0,0.2);
	}
	.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
		-moz-box-shadow: 0;
		-webkit-box-shadow: 0;
		box-shadow: 0;
	}
	.camera_pag_ul li img {
		display: none;
		position: absolute;
	}
	.camera_pag_ul .thumb_arrow {
	    border-left: 4px solid transparent;
	    border-right: 4px solid transparent;
	    border-top: 4px solid;
		top: 0;
		left: 50%;
		margin-left: -4px;
		position: absolute;
	}
	.camera_prev, .camera_next, .camera_commands {
		cursor: pointer;
		height: 40px;
		margin-top: -20px;
		position: absolute;
		top: 50%;
		width: 40px;
		z-index: 2;
	}
	.camera_prev {
		left: 0;
	}
	.camera_prev > span {
		background: url(/modules/mod_slideshowck/images/camera_skins.png) no-repeat 0 0;
		display: block;
		height: 40px;
		width: 40px;
	}
	.camera_next {
		right: 0;
	}
	.camera_next > span {
		background: url(/modules/mod_slideshowck/images/camera_skins.png) no-repeat -40px 0;
		display: block;
		height: 40px;
		width: 40px;
	}
	.camera_commands {
		right: 41px;
	}
	.camera_commands > .camera_play {
		background: url(/modules/mod_slideshowck/images/camera_skins.png) no-repeat -80px 0;
		height: 40px;
		width: 40px;
	}
	.camera_commands > .camera_stop {
		background: url(/modules/mod_slideshowck/images/camera_skins.png) no-repeat -120px 0;
		display: block;
		height: 40px;
		width: 40px;
	}
	
	.camera_thumbs_cont {
		-webkit-border-bottom-right-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-moz-border-radius-bottomleft: 4px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	.camera_commands_emboss .camera_thumbs_cont {
		-moz-box-shadow:
			0px 1px 0px rgba(255,255,255,1),
			inset 0px 1px 1px rgba(0,0,0,0.2);
		-webkit-box-shadow:
			0px 1px 0px rgba(255,255,255,1),
			inset 0px 1px 1px rgba(0,0,0,0.2);
		box-shadow:
			0px 1px 0px rgba(255,255,255,1),
			inset 0px 1px 1px rgba(0,0,0,0.2);
	}
	.camera_thumbs_cont > div {
		float: left;
		width: 100%;
	}
	.camera_thumbs_cont ul {
		overflow: hidden;
		padding: 3px 4px 8px;
		position: relative;
		text-align: center;
	}
	.camera_thumbs_cont ul li {
		display: inline;
		padding: 0 4px;
	}
	.camera_thumbs_cont ul li > img {
		border: 1px solid;
		cursor: pointer;
		margin-top: 5px;
		vertical-align:bottom;
	}
	.camera_clear {
		display: block;
		clear: both;
	}
	.showIt {
		display: none;
	}
	.camera_clear {
		clear: both;
		display: block;
		height: 1px;
		margin: -1px 0 25px;
		position: relative;
	}
	/**************************
	*
	*	COLORS & SKINS
	*
	**************************/
	.pattern_1 .camera_overlayer {
		background: url(/modules/mod_slideshowck/images/patterns/overlay1.png) repeat;
	}
	.pattern_2 .camera_overlayer {
		background: url(/modules/mod_slideshowck/images/patterns/overlay2.png) repeat;
	}
	.pattern_3 .camera_overlayer {
		background: url(/modules/mod_slideshowck/images/patterns/overlay3.png) repeat;
	}
	.pattern_4 .camera_overlayer {
		background: url(/modules/mod_slideshowck/images/patterns/overlay4.png) repeat;
	}
	.pattern_5 .camera_overlayer {
		background: url(/modules/mod_slideshowck/images/patterns/overlay5.png) repeat;
	}
	.pattern_6 .camera_overlayer {
		background: url(/modules/mod_slideshowck/images/patterns/overlay6.png) repeat;
	}
	.pattern_7 .camera_overlayer {
		background: url(/modules/mod_slideshowck/images/patterns/overlay7.png) repeat;
	}
	.pattern_8 .camera_overlayer {
		background: url(/modules/mod_slideshowck/images/patterns/overlay8.png) repeat;
	}
	.pattern_9 .camera_overlayer {
		background: url(/modules/mod_slideshowck/images/patterns/overlay9.png) repeat;
	}
	.pattern_10 .camera_overlayer {
		background: url(/modules/mod_slideshowck/images/patterns/overlay10.png) repeat;
	}
	.camera_caption {
		color: #fff;
	}
	.camera_caption > div {
		background: #000;
		background: rgba(0, 0, 0, 0.8);
	}
	.camera_wrap .camera_pag .camera_pag_ul li {
		background: #b7b7b7;
	}
	.camera_wrap .camera_pag .camera_pag_ul li:hover > span {
		background: #b7b7b7;
	}
	.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
		background: #434648;
	}
	.camera_pag_ul li img {
		border: 4px solid #e6e6e6;
		-moz-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
		-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
		box-shadow: 0px 3px 6px rgba(0,0,0,.5);
	}
	.camera_pag_ul .thumb_arrow {
	    border-top-color: #e6e6e6;
	}
	.camera_prevThumbs, .camera_nextThumbs, .camera_prev, .camera_next, .camera_commands, .camera_thumbs_cont {
		background: #d8d8d8;
		background: rgba(216, 216, 216, 0.85);
	}
	.camera_wrap .camera_pag .camera_pag_ul li {
		background: #b7b7b7;
	}
	.camera_thumbs_cont ul li > img {
		border-color: 1px solid #000;
	}
	/*AMBER SKIN*/
	.camera_amber_skin .camera_prevThumbs div {
		background-position: -160px -160px;
	}
	.camera_amber_skin .camera_nextThumbs div {
		background-position: -190px -160px;
	}
	.camera_amber_skin .camera_prev > span {
		background-position: 0 -160px;
	}
	.camera_amber_skin .camera_next > span {
		background-position: -40px -160px;
	}
	.camera_amber_skin .camera_commands > .camera_play {
		background-position: -80px -160px;
	}
	.camera_amber_skin .camera_commands > .camera_stop {
		background-position: -120px -160px;
	}
	/*ASH SKIN*/
	.camera_ash_skin .camera_prevThumbs div {
		background-position: -160px -200px;
	}
	.camera_ash_skin .camera_nextThumbs div {
		background-position: -190px -200px;
	}
	.camera_ash_skin .camera_prev > span {
		background-position: 0 -200px;
	}
	.camera_ash_skin .camera_next > span {
		background-position: -40px -200px;
	}
	.camera_ash_skin .camera_commands > .camera_play {
		background-position: -80px -200px;
	}
	.camera_ash_skin .camera_commands > .camera_stop {
		background-position: -120px -200px;
	}
	/*AZURE SKIN*/
	.camera_azure_skin .camera_prevThumbs div {
		background-position: -160px -240px;
	}
	.camera_azure_skin .camera_nextThumbs div {
		background-position: -190px -240px;
	}
	.camera_azure_skin .camera_prev > span {
		background-position: 0 -240px;
	}
	.camera_azure_skin .camera_next > span {
		background-position: -40px -240px;
	}
	.camera_azure_skin .camera_commands > .camera_play {
		background-position: -80px -240px;
	}
	.camera_azure_skin .camera_commands > .camera_stop {
		background-position: -120px -240px;
	}
	/*BEIGE SKIN*/
	.camera_beige_skin .camera_prevThumbs div {
		background-position: -160px -120px;
	}
	.camera_beige_skin .camera_nextThumbs div {
		background-position: -190px -120px;
	}
	.camera_beige_skin .camera_prev > span {
		background-position: 0 -120px;
	}
	.camera_beige_skin .camera_next > span {
		background-position: -40px -120px;
	}
	.camera_beige_skin .camera_commands > .camera_play {
		background-position: -80px -120px;
	}
	.camera_beige_skin .camera_commands > .camera_stop {
		background-position: -120px -120px;
	}
	/*BLACK SKIN*/
	.camera_black_skin .camera_prevThumbs div {
		background-position: -160px -40px;
	}
	.camera_black_skin .camera_nextThumbs div {
		background-position: -190px -40px;
	}
	.camera_black_skin .camera_prev > span {
		background-position: 0 -40px;
	}
	.camera_black_skin .camera_next > span {
		background-position: -40px -40px;
	}
	.camera_black_skin .camera_commands > .camera_play {
		background-position: -80px -40px;
	}
	.camera_black_skin .camera_commands > .camera_stop {
		background-position: -120px -40px;
	}
	/*BLUE SKIN*/
	.camera_blue_skin .camera_prevThumbs div {
		background-position: -160px -280px;
	}
	.camera_blue_skin .camera_nextThumbs div {
		background-position: -190px -280px;
	}
	.camera_blue_skin .camera_prev > span {
		background-position: 0 -280px;
	}
	.camera_blue_skin .camera_next > span {
		background-position: -40px -280px;
	}
	.camera_blue_skin .camera_commands > .camera_play {
		background-position: -80px -280px;
	}
	.camera_blue_skin .camera_commands > .camera_stop {
		background-position: -120px -280px;
	}
	/*BROWN SKIN*/
	.camera_brown_skin .camera_prevThumbs div {
		background-position: -160px -320px;
	}
	.camera_brown_skin .camera_nextThumbs div {
		background-position: -190px -320px;
	}
	.camera_brown_skin .camera_prev > span {
		background-position: 0 -320px;
	}
	.camera_brown_skin .camera_next > span {
		background-position: -40px -320px;
	}
	.camera_brown_skin .camera_commands > .camera_play {
		background-position: -80px -320px;
	}
	.camera_brown_skin .camera_commands > .camera_stop {
		background-position: -120px -320px;
	}
	/*BURGUNDY SKIN*/
	.camera_burgundy_skin .camera_prevThumbs div {
		background-position: -160px -360px;
	}
	.camera_burgundy_skin .camera_nextThumbs div {
		background-position: -190px -360px;
	}
	.camera_burgundy_skin .camera_prev > span {
		background-position: 0 -360px;
	}
	.camera_burgundy_skin .camera_next > span {
		background-position: -40px -360px;
	}
	.camera_burgundy_skin .camera_commands > .camera_play {
		background-position: -80px -360px;
	}
	.camera_burgundy_skin .camera_commands > .camera_stop {
		background-position: -120px -360px;
	}
	/*CHARCOAL SKIN*/
	.camera_charcoal_skin .camera_prevThumbs div {
		background-position: -160px -400px;
	}
	.camera_charcoal_skin .camera_nextThumbs div {
		background-position: -190px -400px;
	}
	.camera_charcoal_skin .camera_prev > span {
		background-position: 0 -400px;
	}
	.camera_charcoal_skin .camera_next > span {
		background-position: -40px -400px;
	}
	.camera_charcoal_skin .camera_commands > .camera_play {
		background-position: -80px -400px;
	}
	.camera_charcoal_skin .camera_commands > .camera_stop {
		background-position: -120px -400px;
	}
	/*CHOCOLATE SKIN*/
	.camera_chocolate_skin .camera_prevThumbs div {
		background-position: -160px -440px;
	}
	.camera_chocolate_skin .camera_nextThumbs div {
		background-position: -190px -440px;
	}
	.camera_chocolate_skin .camera_prev > span {
		background-position: 0 -440px;
	}
	.camera_chocolate_skin .camera_next > span {
		background-position: -40px -440px;
	}
	.camera_chocolate_skin .camera_commands > .camera_play {
		background-position: -80px -440px;
	}
	.camera_chocolate_skin .camera_commands > .camera_stop {
		background-position: -120px -440px	;
	}
	/*COFFEE SKIN*/
	.camera_coffee_skin .camera_prevThumbs div {
		background-position: -160px -480px;
	}
	.camera_coffee_skin .camera_nextThumbs div {
		background-position: -190px -480px;
	}
	.camera_coffee_skin .camera_prev > span {
		background-position: 0 -480px;
	}
	.camera_coffee_skin .camera_next > span {
		background-position: -40px -480px;
	}
	.camera_coffee_skin .camera_commands > .camera_play {
		background-position: -80px -480px;
	}
	.camera_coffee_skin .camera_commands > .camera_stop {
		background-position: -120px -480px	;
	}
	/*CYAN SKIN*/
	.camera_cyan_skin .camera_prevThumbs div {
		background-position: -160px -520px;
	}
	.camera_cyan_skin .camera_nextThumbs div {
		background-position: -190px -520px;
	}
	.camera_cyan_skin .camera_prev > span {
		background-position: 0 -520px;
	}
	.camera_cyan_skin .camera_next > span {
		background-position: -40px -520px;
	}
	.camera_cyan_skin .camera_commands > .camera_play {
		background-position: -80px -520px;
	}
	.camera_cyan_skin .camera_commands > .camera_stop {
		background-position: -120px -520px	;
	}
	/*FUCHSIA SKIN*/
	.camera_fuchsia_skin .camera_prevThumbs div {
		background-position: -160px -560px;
	}
	.camera_fuchsia_skin .camera_nextThumbs div {
		background-position: -190px -560px;
	}
	.camera_fuchsia_skin .camera_prev > span {
		background-position: 0 -560px;
	}
	.camera_fuchsia_skin .camera_next > span {
		background-position: -40px -560px;
	}
	.camera_fuchsia_skin .camera_commands > .camera_play {
		background-position: -80px -560px;
	}
	.camera_fuchsia_skin .camera_commands > .camera_stop {
		background-position: -120px -560px	;
	}
	/*GOLD SKIN*/
	.camera_gold_skin .camera_prevThumbs div {
		background-position: -160px -600px;
	}
	.camera_gold_skin .camera_nextThumbs div {
		background-position: -190px -600px;
	}
	.camera_gold_skin .camera_prev > span {
		background-position: 0 -600px;
	}
	.camera_gold_skin .camera_next > span {
		background-position: -40px -600px;
	}
	.camera_gold_skin .camera_commands > .camera_play {
		background-position: -80px -600px;
	}
	.camera_gold_skin .camera_commands > .camera_stop {
		background-position: -120px -600px	;
	}
	/*GREEN SKIN*/
	.camera_green_skin .camera_prevThumbs div {
		background-position: -160px -640px;
	}
	.camera_green_skin .camera_nextThumbs div {
		background-position: -190px -640px;
	}
	.camera_green_skin .camera_prev > span {
		background-position: 0 -640px;
	}
	.camera_green_skin .camera_next > span {
		background-position: -40px -640px;
	}
	.camera_green_skin .camera_commands > .camera_play {
		background-position: -80px -640px;
	}
	.camera_green_skin .camera_commands > .camera_stop {
		background-position: -120px -640px	;
	}
	/*GREY SKIN*/
	.camera_grey_skin .camera_prevThumbs div {
		background-position: -160px -680px;
	}
	.camera_grey_skin .camera_nextThumbs div {
		background-position: -190px -680px;
	}
	.camera_grey_skin .camera_prev > span {
		background-position: 0 -680px;
	}
	.camera_grey_skin .camera_next > span {
		background-position: -40px -680px;
	}
	.camera_grey_skin .camera_commands > .camera_play {
		background-position: -80px -680px;
	}
	.camera_grey_skin .camera_commands > .camera_stop {
		background-position: -120px -680px	;
	}
	/*INDIGO SKIN*/
	.camera_indigo_skin .camera_prevThumbs div {
		background-position: -160px -720px;
	}
	.camera_indigo_skin .camera_nextThumbs div {
		background-position: -190px -720px;
	}
	.camera_indigo_skin .camera_prev > span {
		background-position: 0 -720px;
	}
	.camera_indigo_skin .camera_next > span {
		background-position: -40px -720px;
	}
	.camera_indigo_skin .camera_commands > .camera_play {
		background-position: -80px -720px;
	}
	.camera_indigo_skin .camera_commands > .camera_stop {
		background-position: -120px -720px	;
	}
	/*KHAKI SKIN*/
	.camera_khaki_skin .camera_prevThumbs div {
		background-position: -160px -760px;
	}
	.camera_khaki_skin .camera_nextThumbs div {
		background-position: -190px -760px;
	}
	.camera_khaki_skin .camera_prev > span {
		background-position: 0 -760px;
	}
	.camera_khaki_skin .camera_next > span {
		background-position: -40px -760px;
	}
	.camera_khaki_skin .camera_commands > .camera_play {
		background-position: -80px -760px;
	}
	.camera_khaki_skin .camera_commands > .camera_stop {
		background-position: -120px -760px	;
	}
	/*LIME SKIN*/
	.camera_lime_skin .camera_prevThumbs div {
		background-position: -160px -800px;
	}
	.camera_lime_skin .camera_nextThumbs div {
		background-position: -190px -800px;
	}
	.camera_lime_skin .camera_prev > span {
		background-position: 0 -800px;
	}
	.camera_lime_skin .camera_next > span {
		background-position: -40px -800px;
	}
	.camera_lime_skin .camera_commands > .camera_play {
		background-position: -80px -800px;
	}
	.camera_lime_skin .camera_commands > .camera_stop {
		background-position: -120px -800px	;
	}
	/*MAGENTA SKIN*/
	.camera_magenta_skin .camera_prevThumbs div {
		background-position: -160px -840px;
	}
	.camera_magenta_skin .camera_nextThumbs div {
		background-position: -190px -840px;
	}
	.camera_magenta_skin .camera_prev > span {
		background-position: 0 -840px;
	}
	.camera_magenta_skin .camera_next > span {
		background-position: -40px -840px;
	}
	.camera_magenta_skin .camera_commands > .camera_play {
		background-position: -80px -840px;
	}
	.camera_magenta_skin .camera_commands > .camera_stop {
		background-position: -120px -840px	;
	}
	/*MAROON SKIN*/
	.camera_maroon_skin .camera_prevThumbs div {
		background-position: -160px -880px;
	}
	.camera_maroon_skin .camera_nextThumbs div {
		background-position: -190px -880px;
	}
	.camera_maroon_skin .camera_prev > span {
		background-position: 0 -880px;
	}
	.camera_maroon_skin .camera_next > span {
		background-position: -40px -880px;
	}
	.camera_maroon_skin .camera_commands > .camera_play {
		background-position: -80px -880px;
	}
	.camera_maroon_skin .camera_commands > .camera_stop {
		background-position: -120px -880px	;
	}
	/*ORANGE SKIN*/
	.camera_orange_skin .camera_prevThumbs div {
		background-position: -160px -920px;
	}
	.camera_orange_skin .camera_nextThumbs div {
		background-position: -190px -920px;
	}
	.camera_orange_skin .camera_prev > span {
		background-position: 0 -920px;
	}
	.camera_orange_skin .camera_next > span {
		background-position: -40px -920px;
	}
	.camera_orange_skin .camera_commands > .camera_play {
		background-position: -80px -920px;
	}
	.camera_orange_skin .camera_commands > .camera_stop {
		background-position: -120px -920px	;
	}
	/*OLIVE SKIN*/
	.camera_olive_skin .camera_prevThumbs div {
		background-position: -160px -1080px;
	}
	.camera_olive_skin .camera_nextThumbs div {
		background-position: -190px -1080px;
	}
	.camera_olive_skin .camera_prev > span {
		background-position: 0 -1080px;
	}
	.camera_olive_skin .camera_next > span {
		background-position: -40px -1080px;
	}
	.camera_olive_skin .camera_commands > .camera_play {
		background-position: -80px -1080px;
	}
	.camera_olive_skin .camera_commands > .camera_stop {
		background-position: -120px -1080px	;
	}
	/*PINK SKIN*/
	.camera_pink_skin .camera_prevThumbs div {
		background-position: -160px -960px;
	}
	.camera_pink_skin .camera_nextThumbs div {
		background-position: -190px -960px;
	}
	.camera_pink_skin .camera_prev > span {
		background-position: 0 -960px;
	}
	.camera_pink_skin .camera_next > span {
		background-position: -40px -960px;
	}
	.camera_pink_skin .camera_commands > .camera_play {
		background-position: -80px -960px;
	}
	.camera_pink_skin .camera_commands > .camera_stop {
		background-position: -120px -960px	;
	}
	/*PISTACHIO SKIN*/
	.camera_pistachio_skin .camera_prevThumbs div {
		background-position: -160px -1040px;
	}
	.camera_pistachio_skin .camera_nextThumbs div {
		background-position: -190px -1040px;
	}
	.camera_pistachio_skin .camera_prev > span {
		background-position: 0 -1040px;
	}
	.camera_pistachio_skin .camera_next > span {
		background-position: -40px -1040px;
	}
	.camera_pistachio_skin .camera_commands > .camera_play {
		background-position: -80px -1040px;
	}
	.camera_pistachio_skin .camera_commands > .camera_stop {
		background-position: -120px -1040px	;
	}
	/*PINK SKIN*/
	.camera_pink_skin .camera_prevThumbs div {
		background-position: -160px -80px;
	}
	.camera_pink_skin .camera_nextThumbs div {
		background-position: -190px -80px;
	}
	.camera_pink_skin .camera_prev > span {
		background-position: 0 -80px;
	}
	.camera_pink_skin .camera_next > span {
		background-position: -40px -80px;
	}
	.camera_pink_skin .camera_commands > .camera_play {
		background-position: -80px -80px;
	}
	.camera_pink_skin .camera_commands > .camera_stop {
		background-position: -120px -80px;
	}
	/*RED SKIN*/
	.camera_red_skin .camera_prevThumbs div {
		background-position: -160px -1000px;
	}
	.camera_red_skin .camera_nextThumbs div {
		background-position: -190px -1000px;
	}
	.camera_red_skin .camera_prev > span {
		background-position: 0 -1000px;
	}
	.camera_red_skin .camera_next > span {
		background-position: -40px -1000px;
	}
	.camera_red_skin .camera_commands > .camera_play {
		background-position: -80px -1000px;
	}
	.camera_red_skin .camera_commands > .camera_stop {
		background-position: -120px -1000px	;
	}
	/*TANGERINE SKIN*/
	.camera_tangerine_skin .camera_prevThumbs div {
		background-position: -160px -1120px;
	}
	.camera_tangerine_skin .camera_nextThumbs div {
		background-position: -190px -1120px;
	}
	.camera_tangerine_skin .camera_prev > span {
		background-position: 0 -1120px;
	}
	.camera_tangerine_skin .camera_next > span {
		background-position: -40px -1120px;
	}
	.camera_tangerine_skin .camera_commands > .camera_play {
		background-position: -80px -1120px;
	}
	.camera_tangerine_skin .camera_commands > .camera_stop {
		background-position: -120px -1120px	;
	}
	/*TURQUOISE SKIN*/
	.camera_turquoise_skin .camera_prevThumbs div {
		background-position: -160px -1160px;
	}
	.camera_turquoise_skin .camera_nextThumbs div {
		background-position: -190px -1160px;
	}
	.camera_turquoise_skin .camera_prev > span {
		background-position: 0 -1160px;
	}
	.camera_turquoise_skin .camera_next > span {
		background-position: -40px -1160px;
	}
	.camera_turquoise_skin .camera_commands > .camera_play {
		background-position: -80px -1160px;
	}
	.camera_turquoise_skin .camera_commands > .camera_stop {
		background-position: -120px -1160px	;
	}
	/*VIOLET SKIN*/
	.camera_violet_skin .camera_prevThumbs div {
		background-position: -160px -1200px;
	}
	.camera_violet_skin .camera_nextThumbs div {
		background-position: -190px -1200px;
	}
	.camera_violet_skin .camera_prev > span {
		background-position: 0 -1200px;
	}
	.camera_violet_skin .camera_next > span {
		background-position: -40px -1200px;
	}
	.camera_violet_skin .camera_commands > .camera_play {
		background-position: -80px -1200px;
	}
	.camera_violet_skin .camera_commands > .camera_stop {
		background-position: -120px -1200px	;
	}
	/*WHITE SKIN*/
	.camera_white_skin .camera_prevThumbs div {
		background-position: -160px -80px;
	}
	.camera_white_skin .camera_nextThumbs div {
		background-position: -190px -80px;
	}
	.camera_white_skin .camera_prev > span {
		background-position: 0 -80px;
	}
	.camera_white_skin .camera_next > span {
		background-position: -40px -80px;
	}
	.camera_white_skin .camera_commands > .camera_play {
		background-position: -80px -80px;
	}
	.camera_white_skin .camera_commands > .camera_stop {
		background-position: -120px -80px;
	}
	/*YELLOW SKIN*/
	.camera_yellow_skin .camera_prevThumbs div {
		background-position: -160px -1240px;
	}
	.camera_yellow_skin .camera_nextThumbs div {
		background-position: -190px -1240px;
	}
	.camera_yellow_skin .camera_prev > span {
		background-position: 0 -1240px;
	}
	.camera_yellow_skin .camera_next > span {
		background-position: -40px -1240px;
	}
	.camera_yellow_skin .camera_commands > .camera_play {
		background-position: -80px -1240px;
	}
	.camera_yellow_skin .camera_commands > .camera_stop {
		background-position: -120px -1240px	;
	}
	
	/************************************
	*									*
	*	FIn Modulo Banner - Home		*
	*									*
	*    								*
	*************************************/
	
	
	
	/************************************
	*									*
	*	Modulo Traduccion - Home		*
	*									*
	*   Fechas Modificacion 12-03-2015  *
	*									*
	*************************************/
	
	
	#back1{display:none;}
		a.goog-logo-link {
			display:none; 
		}
	
		a.goog-logo-link img {
		 display:none;
		}
	
		div.goog-te-gadget{
			font-size:0px;
		}
	.skiptranslate iframe{
		opacity:0 !important;
		max-height:1px !important;
		margin-top:-1px;
	}
	
	body{
		top:0px !important;
	}
		.goog-tooltip skiptranslate,#goog-gt-tt{
			display:none !important;
		}
	
	
	#trans{
		width:95%;
	}
	
	/************************************
	*									*
	*	FIn Modulo Traduccion - Home    *
	*									*
	*    								*
	*************************************/
	
	
	
	
	/************************************
	*									*
	*	Modulo Menu - Home				*
	*									*
	*   Fechas Modificacion 12-03-2015  *
	*									*
	*************************************/
	
	
	* html .clearfix {
		height: 1%; /* IE5-6 */
	}
	
	html[xmlns] .clearfix { /* O */
		display: block;
	}
	
	#js-mainnav.megamenu .clearfix:after { /* FF, O, etc. */
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	
	#js-mainnav.megamenu .wrap {
		height: auto !important;
		visibility: visible !important;
		border: 0 none;
	    clear: both;
	    float: none;
	    font-size: 1px;
	    line-height: 1px;
	    margin: 0;
	    padding: 0;
	}
	
	#js-mainnav.megamenu ul {
	    list-style: none outside none;
	}
	
	#js-mainnav.megamenu { 
		line-height: 1;
		position: relative;
		z-index: 9;
	}
	
	#js-mainnav.megamenu #css3-ToggleResponsive {
		display: none;
	}
	
	#js-mainnav.megamenu .js-megamenu { 
	    margin: 0; 
		padding: 0; 
		font-family: Helvetica, Arial, sans-serif;
		font-size: 12px;
	}
	
	#js-mainnav.megamenu ul.megamenu {
	    margin: 10px; /* menu's gutter */
	} 
	
	#js-mainnav.megamenu ul.megamenu.level1 {
		padding: 0;
	}
	
	/* lv - 0
	-----------------------------------*/
	/* Styling ---*/
	#js-mainnav.megamenu ul.level0 {
		margin: 0;
		padding: 0;
	}
	
	#js-mainnav.megamenu ul.level0 li.mega {
		display: block;
		float: left;
		margin: 0;
		padding: 0;
		position: relative;
	}
	
	#js-mainnav.megamenu ul.level0 li.mega.right {
		float: right;
	}
	
	#js-mainnav.megamenu ul.level0 li.mega span.mega,
	#js-mainnav.megamenu ul.level0 li.mega a.mega {
	    display: block;
	    line-height: normal;
	    margin: 0;
	    padding: 8px 15px;
	    text-decoration: none;
		cursor: pointer;
	}
	
	#js-mainnav.megamenu ul.level0 li.mega .has-image {
		padding-left: 25px;
		display: block;
		background-repeat: no-repeat;
		background-position: left top;
		cursor: pointer;
	}
	
	#js-mainnav.megamenu span.menu-image{
		background-position: left 1px;
	    background-repeat: no-repeat;
	    display: block;
	    overflow: hidden;
		padding-left: 21px;
	}
	
	#js-mainnav.megamenu ul.level1 li.mega.group:hover {
		background: none !important;
	}
	
	#js-mainnav.megamenu ul.level0 li.mega span.menu-title { 
	    display: block;
	}
	
	#js-mainnav.megamenu ul.level0 li.mega span.menu-desc {
		display: block;
		font-weight: normal;
		font-size: 92%;
	}
	
	#js-mainnav.megamenu ul.level0 li.mega a img {
		/*float: left;*/
		/*padding-right: 5px;*/
	}
	
	#js-mainnav.megamenu ul.level0 li.mega span.image-title {
		padding-left: 5px;
	}
	
	#js-mainnav.megamenu ul.level0 li.haschild a.mega span.menu-desc,
	#js-mainnav.megamenu ul.level0 li.haschild-over a.mega span.menu-desc {
		padding-left: 12px;
	}
	
	#js-mainnav.megamenu ul.level0 li #current.active {
		background: none;
	}
	
	/* Menu aligment and direction specific style */
	#js-mainnav.megamenu.vertical {
		background-image: none;
	}
	
	#js-mainnav.megamenu.horizontal.left ul.level0 { 
		float: left;
		width: 100%;
	}
	
	#js-mainnav.megamenu.horizontal.center ul.level0 { 
		float: left;
	    position: relative;
		left: 50%;
		transform: translate(-50%);
		-webkit-transform: translate(-50%);
		-moz-transform: translate(-50%);
		-ms-transform: translate(-50%);
		-o-transform: translate(-50%);
	}
	
	// Fix bug: site width is over when Menu is align Center
	body{
	    overflow-x: hidden !important;
	}
	
	#js-mainnav.megamenu.horizontal.right ul.level0 { 
		float: right;
	}
	
	#js-mainnav.megamenu.vertical ul.level0 {
	    float:left;
		max-width:100%;
		width:100%;
	}
	
	#js-mainnav.megamenu.horizontal.center ul.megamenu.level1 {
	    left: 0;
	    position: relative;
	}
	
	#js-mainnav.megamenu.vertical ul.level0 li.mega {
	    float:none;
	}
	
	#js-mainnav.megamenu.vertical li.mega {
	    float:none;
	}
	
	#js-mainnav.megamenu.horizontal.center ul.level0 li.mega {
	    position: relative;
	}
	
	#js-mainnav.megamenu.vertical.right ul.level0 li.mega span.mega,
	#js-mainnav.megamenu.vertical.right ul.level0 li.mega a.mega {
	    text-align:right;
	}
	
	#js-mainnav.megamenu.horizontal ul.level0 li a.haschild.mega span.menu-title,
	#js-mainnav.megamenu.horizontal ul.level0 li a.haschild-over.mega span.menu-title {
		background: url(/modules/mod_jse_megamenu/assets/images/arrow3.png) no-repeat left center;
		padding-left: 12px;
	}
	
	#js-mainnav.megamenu.vertical.left li a.haschild.mega span.menu-title,
	#js-mainnav.megamenu.vertical.left li a.haschild-over.mega span.menu-title {
	    background: url(/modules/mod_jse_megamenu/assets/images/arrow.png) no-repeat right center;
		padding-left: 0px;
	}
	
	#js-mainnav.megamenu.vertical.right li a.haschild.mega span.menu-title,
	#js-mainnav.megamenu.vertical.right li a.haschild-over.mega span.menu-title {
	    background: url(/modules/mod_jse_megamenu/assets/images/arrow_right.png) no-repeat left center;
		padding-left: 0px;
	}
	
	#js-mainnav.megamenu.vertical ul.level0 li a.haschild.mega span.menu-desc,
	#js-mainnav.megamenu.vertical ul.level0 li a.haschild-over.mega span.menu-desc {
		padding-left: 0px;
	}
	
	#js-mainnav.megamenu.horizontal.center ul.level1 li.mega {
	    position: relative;
	    right: 0;
	}
	
	#js-mainnav.megamenu.vertical.left ul.level1 li.haschild,
	#js-mainnav.megamenu.vertical.left ul.level1 li.haschild-over {
		background-image: url('/modules/mod_jse_megamenu/assets/images/arrow.png');
		background-repeat: no-repeat;
		background-position: 95% center;
		padding: 0;
	}
	
	#js-mainnav.megamenu.vertical.right ul.level1 li.haschild,
	#js-mainnav.megamenu.vertical.right ul.level1 li.haschild-over {
		background-image: url('/modules/mod_jse_megamenu/assets/images/arrow_right.png');
		background-repeat: no-repeat;
		background-position: left center;
		padding: 0;
	}
	
	#js-mainnav.megamenu.vertical.left .js-megamenu ul.level0 li.mega .childcontent {
	    margin-left:100% !important;
		margin-top:-32px;
	}
	
	#js-mainnav.megamenu.vertical.right .js-megamenu ul.level0 li.mega .childcontent {
	    margin-left:-99% !important;
		margin-top:-32px;
	    right:95%;
	}
	
	#js-mainnav.megamenu.vertical.left .js-megamenu ul.level1 li.mega .childcontent {
	    margin-top:0px !important;
	    top:0px;
	}
	
	#js-mainnav.megamenu.vertical.right .js-megamenu ul.level1 li.mega .childcontent {
		margin-left:-100%  !important;
		margin-top:-32px;
	}
	
	#js-mainnav.megamenu.vertical.left ul.level1 li.haschild, ul.level1 li.haschild-over {
	    position: relative;
	}
	
	/* lv - 1 and below
	-----------------------------------*/
	
	/* Layout ---*/
	#js-mainnav.megamenu .js-megamenu li.mega .childcontent { display: block; height: auto; position: absolute; }
	
	#js-mainnav.megamenu .js-megamenu li.mega .childcontent,
	#js-mainnav.megamenu .js-megamenu li.haschild-over li.mega .childcontent,
	#js-mainnav.megamenu .js-megamenu li.mega li.haschild-over li.mega .childcontent ,
	#js-mainnav.megamenu .js-megamenu li.mega li.mega li.haschild-over li.mega .childcontent, 
	#js-mainnav.megamenu .js-megamenu li.mega li.mega li.mega li.haschild-over li.mega .childcontent, 
	#js-mainnav.megamenu .js-megamenu li.mega li.mega li.mega li.mega li.haschild-over li.mega .childcontent { left: -999em; /*hide the menu*/ }
	
	#js-mainnav.megamenu .js-megamenu li.haschild-over .childcontent,
	#js-mainnav.megamenu .js-megamenu li.mega li.haschild-over .childcontent,
	#js-mainnav.megamenu .js-megamenu li.mega li.mega li.haschild-over .childcontent,
	#js-mainnav.megamenu .js-megamenu li.mega li.mega li.mega li.haschild-over .childcontent,
	#js-mainnav.megamenu .js-megamenu li.mega li.mega li.mega li.mega li.haschild-over .childcontent,
	#js-mainnav.megamenu .js-megamenu li.mega li.mega li.mega li.mega li.mega li.haschild-over .childcontent { left: auto; /*show on parent:hover*/ }
	
	#js-mainnav.megamenu .js-megamenu li.mega .right,
	#js-mainnav.megamenu .js-megamenu li.haschild-over li.mega .right,
	#js-mainnav.megamenu .js-megamenu li.mega li.haschild-over li.mega .right ,
	#js-mainnav.megamenu .js-megamenu li.mega li.mega li.haschild-over li.mega .right, 
	#js-mainnav.megamenu .js-megamenu li.mega li.mega li.mega li.haschild-over li.mega .right, 
	#js-mainnav.megamenu .js-megamenu li.mega li.mega li.mega li.mega li.haschild-over li.mega .right { right: auto; /*hide the menu*/ }
	
	#js-mainnav.megamenu .js-megamenu li.haschild-over .right
	{ right: 0; /*show on parent:hover*/ }
	
	#js-mainnav.megamenu .js-megamenu li.mega li.haschild-over .right,
	#js-mainnav.megamenu .js-megamenu li.mega li.mega li.haschild-over .right,
	#js-mainnav.megamenu .js-megamenu li.mega li.mega li.mega li.haschild-over .right,
	#js-mainnav.megamenu .js-megamenu li.mega li.mega li.mega li.mega li.haschild-over .right,
	#js-mainnav.megamenu .js-megamenu li.mega li.mega li.mega li.mega li.mega li.haschild-over .right 
	{ right: 12em; /*show on parent:hover*/ }
	
	#js-mainnav.megamenu ul.level1 li.mega { float: none; }
	
	#js-mainnav.megamenu ul.level1 .childcontent { margin: -20px 0 0 0; }
	
	/* Columns ---*/
	#js-mainnav.megamenu .megacol { float: left;}
	
	/* Styling ---*/
	#js-mainnav.megamenu ul.level1 li.mega {
		background: none;
	}
	
	#js-mainnav.megamenu ul.level1 li.first {
		border-top: 0;
	}
	
	#js-mainnav.megamenu ul.level1 li.mega span.mega,
	#js-mainnav.megamenu ul.level1 li.mega a.mega {
		background: none;
		border: 0;
		font-weight: normal;
		padding: 8px 5px;
	}
	#js-mainnav.megamenu ul.level1 li.mega a.haschild.mega span.menu-title,
	#js-mainnav.megamenu ul.level1 li.mega a.haschild-over.mega span.menu-title{ 
	    background: none;
		padding: 0;
	}
	
	#js-mainnav.megamenu ul.level1 li.group {
	    background: none; 
	}
	
	/* CHILD CONTENT
	-----------------------------------*/
	#js-mainnav.megamenu .childcontent { 
	    z-index: 999;
	} 
	
	#js-mainnav.megamenu .childcontent .js-moduletable {
		border-bottom: 0;
		line-height: 1.5;
		margin: 10px 0;
		padding: 0;
	}
	
	#js-mainnav.megamenu .childcontent-inner a {
		text-decoration: none;
		width: auto;
	}
	
	#js-mainnav.megamenu .childcontent-inner .group ul li.active{
	}
	
	#js-mainnav.megamenu .childcontent .group h3 {
		background: none;
		padding: 0 5px 8px;
		text-transform: none;
	}
	
	#js-mainnav.megamenu .childcontent .group .moduletable {
		background: none;
		padding-top: 12px;
	}
	#js-mainnav.megamenu .childcontent .js-moduletable .js-box-ct {
		padding: 0 5px;
	}
	
	#js-mainnav.megamenu .childcontent .js-moduletable a {
		text-decoration: none;
	}
	
	#js-mainnav.megamenu .childcontent .js-moduletable a:hover,
	#js-mainnav.megamenu .childcontent .js-moduletable a:focus,
	#js-mainnav.megamenu .childcontent .js-moduletable a:active {
		text-decoration: none;
	}
	
	#js-mainnav.megamenu .childcontent .js-moduletable ul:first-child {
		margin-top: 0 !important;
	}
	
	#js-mainnav.megamenu .childcontent .js-moduletable li {
		margin-bottom: 5px;
	}
	
	/* Grouped --- */
	#js-mainnav.megamenu .group {}
	
	#js-mainnav.megamenu .group-title {
		overflow: hidden;
	}
	
	#js-mainnav.megamenu .group-title .menu-title {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 115%;
	}
	
	#js-mainnav.megamenu .group-title .menu-desc {
		padding-left: 0 !important;
	}
	
	#js-mainnav.megamenu .group-content .js-moduletable,
	#js-mainnav.megamenu .group-content ul.megamenu  {
		margin: 10px; /* Group-content's gutter*/
		padding: 0;
	}
	
	/* reset --- */
	#js-mainnav.megamenu .childcontent .moduletable {
		padding:10px;
	}
	
	#js-mainnav.megamenu ul.level0 .childcontent .moduletable li:hover,
	#js-mainnav.megamenu ul.level0 .childcontent .moduletable a:hover{
		background: none;
	}
	
	#js-mainnav.megamenu .childcontent-inner{
	    overflow:visible;
	}
	
	#js-mainnav.megamenu .childcontent .moduletable h3 {
		margin:0px;
		padding:0px 0px 10px 0px;
	}
	
	#js-mainnav.megamenu .childcontent .moduletable{
	    padding:10px;
	}
	
	/* show img with no title   */
	
	#js-mainnav.megamenu span.no-title{
	    padding:0px;
	}
	
	#js-mainnav.megamenu span.no-title img{
	    padding:0px !important;
	}
	
	/* Image style */
	#js-mainnav.megamenu ul.megamenu.level0 li.big-img-left,
	#js-mainnav.megamenu ul.megamenu.level0 .big-img-right {
		padding: 5px 0;
	}
	
	#js-mainnav.megamenu ul.megamenu.level0  .big-img-left img {
		float: left;
		margin: 0 10px 10px 0;
	}
	
	#js-mainnav.megamenu ul.megamenu.level0  .big-img-right img {
		float: right;
		margin: 0 10px 0 10px;
	}
	
	#js-mainnav.megamenu ul.megamenu.level0 .big-img-left span.image-title,
	#js-mainnav.megamenu ul.megamenu.level0  .big-img-right span.image-title {
		padding: 0;
	}
	
	/* override reset style */
	#js-mainnav.megamenu ul.megamenu.level0 input#mod-search-searchword {
		max-width: 110px;
	}
	
	#js-mainnav.megamenu ul.megamenu.level0 form {
		margin: 6px 10px;
	}
	
	#js-mainnav.megamenu ul.megamenu.level0 .contact-form form {
		margin: 0;
	}
	#js-mainnav.megamenu ul.megamenu.level0 .contact-form form p {
		padding: 0;
		margin: 0;
		font-size: 10px;
	}
	
	.tip-wrap{
	    z-index:9999;
	}
	
	/* Disable Mootools libraries, use CSS3 animation */
	#js-mainnav.noJS ul.megamenu li.haschild > div.childcontent {
	    opacity: 0;
	    visibility: hidden;
	    -webkit-transition: opacity 0.4s;
		-moz-transition: opacity 0.4s;
		-ms-transition: opacity 0.4s;
		-o-transition: opacity 0.4s;
		transition: opacity 0.4s;
	}
	
	#js-mainnav.noJS ul.megamenu li.haschild:hover > div.childcontent {
		opacity: 1;
	    left: auto;
	    visibility: visible;
	}
	
	/************************************************************************/
	/*                     Submenu alignment                                */
	/************************************************************************/
	
	/* Center alignment */
	#js-mainnav ul.level0 li.mega.submenu-align-center > .childcontent {
		left: 50% !important;
		transform: translate(-50%);
		-webkit-transform: translate(-50%);
		-moz-transform: translate(-50%);
		-ms-transform: translate(-50%);
		-o-transform: translate(-50%);
		margin-left: 0 !important;
	}
	
	/* Full-width alignment */
	#js-mainnav ul.level0 li.mega.submenu-align-fullwidth {
		position: static !important;
	}
	#js-mainnav ul.level0 li.mega.submenu-align-fullwidth > .childcontent {
		left: 0 !important;
		margin-left: 0 !important;
	}
	#js-mainnav ul.level0 li.mega.submenu-align-fullwidth > .childcontent,
	#js-mainnav ul.level0 li.mega.submenu-align-fullwidth > .childcontent > .childcontent-inner-wrap,
	#js-mainnav ul.level0 li.mega.submenu-align-fullwidth > .childcontent > .childcontent-inner-wrap > .childcontent-inner {
		width: 100% !important;
	}
	
	/* Right alignment */
	#js-mainnav ul.level0 li.mega.submenu-align-right > .childcontent {
		left: auto !important;
		right: 0 !important;
		margin-left: 0 !important;
	}
	
	#js-mainnav ul.level1 li.mega.submenu-align-right > .childcontent {
		left: auto !important;
		right: 100% !important;
	}
	
	/* Left alignment */
	#js-mainnav ul.level0 li.mega.submenu-align-left > .childcontent {
		left: 0!important;
		margin-left: 0!important;
	}
	#js-mainnav ul.level1 li.mega.submenu-align-left > .childcontent {
		left: 100%!important;
	}
	#js-mainnav.megamenu.blackwhite {
	    /* border-left: 1px solid #FF9E01; */
	    border-bottom: none;
	    border-top: none;
	    border-right:none;
	    /*background-color: #3d3d3d;
		background: #212121 url(../images/black2_bkg.png) top left repeat-x;
		background: -webkit-gradient(linear, left top, left bottom, from(#3d3d3d), to(#212121));
		background: -webkit-linear-gradient(top, #3d3d3d, #212121);
		background: -moz-linear-gradient(top, #3d3d3d, #212121);
		background: -ms-linear-gradient(top, #3d3d3d, #212121);
		background: -o-linear-gradient(top, #3d3d3d, #212121);
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
		-moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
		box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);*/
	}
	
	/* lv - 0
	-----------------------------------*/
	/* Styling ---*/
	#js-mainnav.megamenu.blackwhite ul.level0 li.mega span.mega,
	#js-mainnav.megamenu.blackwhite ul.level0 li.mega a.mega,
	#js-mainnav.megamenu.blackwhite .megaMenuToggle{ 
	    font-size: 13px;
		color:#FFF;
		padding: 6px 9px;
		font-weight: normal;
	
	}
	
	#js-mainnav.megamenu.blackwhite ul.level0 li:hover,
	#js-mainnav.megamenu.blackwhite ul.level0 li.active,
	#js-mainnav.megamenu.blackwhite ul.level0 li.over,
	#js-mainnav.megamenu.blackwhite ul.level0 li.haschild-over {
	/*	background-color: #0d0d0d;
		background: -webkit-gradient(linear, left top, left bottom, from(#0d0d0d), to(#1f1f1f));
		background: -webkit-linear-gradient(top, #0d0d0d, #1f1f1f);
		background: -moz-linear-gradient(top, #0d0d0d, #1f1f1f);
		background: -ms-linear-gradient(top, #0d0d0d, #1f1f1f);
		background: -o-linear-gradient(top, #0d0d0d, #1f1f1f);
		-webkit-box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.1);
		-moz-box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.1);
		box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.1);*/
	}
	
	#js-mainnav.megamenu.blackwhite ul.level0 li.mega:hover > span.mega,
	#js-mainnav.megamenu.blackwhite ul.level0 li.mega:hover > a.mega,
	#js-mainnav.megamenu.blackwhite ul.level0 li.mega span.mega.over,
	#js-mainnav.megamenu.blackwhite ul.level0 li.mega a.mega.active,
	#js-mainnav.megamenu.blackwhite ul.level0 li.mega a.mega.over {
		color: #3366cc;
		border-bottom-color: transparent !important;
		font-weight: bold;
	}
	
	#js-mainnav.megamenu.blackwhite ul.level0 li.haschild a.mega span.menu-desc,
	#js-mainnav.megamenu.blackwhite ul.level0 li.haschild-over a.mega span.menu-desc {
		padding-left: 0;
	}
	
	/* Childcontent */
	#js-mainnav.megamenu.blackwhite .childcontent {
	
	}
	
	#js-mainnav.megamenu.blackwhite ul.level0 ul.megamenu {
		margin: 0;
	}
	
	/* Layout ---*/
	
	#js-mainnav.megamenu.blackwhite ul.level1 li.mega { border: 0 none; }
	
	#js-mainnav.megamenu.blackwhite ul.level1 li.first {  }
	
	#js-mainnav.megamenu.blackwhite ul.level1 li.mega span.mega,
	#js-mainnav.megamenu.blackwhite ul.level1 li.mega a.mega {
		margin: 0px;
		padding: 6px 20px 6px 15px;
		border: 0;
	/*	color: #888888;
		font-size: 12px;
		font-weight: normal;
		text-shadow: 0px 1px 1px #ffffff;*/
		background-color: transparent;
	}
	
	#js-mainnav.megamenu.blackwhite ul.level1 li.mega a.mega span.menu-title { background: none; padding: 0; font-size: 11px; }
	
	#js-mainnav.megamenu.blackwhite ul.level1 li:hover,
	#js-mainnav.megamenu.blackwhite ul.level1 li.active,
	#js-mainnav.megamenu.blackwhite ul.level1 li.over,
	#js-mainnav.megamenu.blackwhite ul.level1 li.haschild-over {
		background: none;
	}
	
	#js-mainnav.megamenu.blackwhite ul.level1 li.mega:hover > a.mega,
	#js-mainnav.megamenu.blackwhite ul.level1 li.mega:hover > span.mega,
	#js-mainnav.megamenu.blackwhite ul.level1 li.mega span.mega,
	#js-mainnav.megamenu.blackwhite ul.level1 li.mega a.mega.active,
	#js-mainnav.megamenu.blackwhite ul.level1 li.mega a.mega.over {
		/*color: #000000 !important;*/
	}
	
	#js-mainnav.megamenu.blackwhite ul.level1 li.haschild,
	#js-mainnav.megamenu.blackwhite ul.level1 li.haschild-over {
		/*background-image: url(/modules/mod_jse_megamenu/images/arrowddd.png);*/
		background-repeat: no-repeat;
		background-position: 95% center;
		padding: 0; float: left;
		width: 100%;
	}
	
	/* CHILD CONTENT
	-----------------------------------*/
	
	#js-mainnav.megamenu.blackwhite ul.level0 > .childcontent-inner {
		-webkit-box-shadow: 1px 1px 1px #dddddd;
		-moz-box-shadow: 1px 1px 1px #dddddd;
		box-shadow: 1px 1px 1px #dddddd;
	}
	
	#js-mainnav.megamenu.blackwhite .childcontent-inner {
	/*	border: 1px solid transparent;
		padding-top: 6px;
		padding-bottom: 6px;
		border-color: #e0e0e0;
		color: #888888;
		text-shadow: 0px 1px 1px #ffffff;
		background-color: #f9f9f9;
		background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#fefefe));
		background: -webkit-linear-gradient(top, #f9f9f9, #fefefe);
		background: -moz-linear-gradient(top, #f9f9f9, #fefefe);
		background: -ms-linear-gradient(top, #f9f9f9, #fefefe);
		background: -o-linear-gradient(top, #f9f9f9, #fefefe);*/
	}
	
	#js-mainnav.megamenu.blackwhite .childcontent-inner .group ul li.active {
	
	}
	
	#js-mainnav.megamenu.blackwhite .childcontent .group h3 {
		background: none;
		color: #777777;
	}
	
	#js-mainnav.megamenu.blackwhite .childcontent .moduletable {
		padding: 0 10px;
	}
	
	#js-mainnav.megamenu.blackwhite .childcontent .js-moduletable a:hover,
	#js-mainnav.megamenu.blackwhite .childcontent .js-moduletable a:focus,
	#js-mainnav.megamenu.blackwhite .childcontent .js-moduletable a:active {
		color: #fff;
		text-decoration: none;
		border-bottom: 1px solid #fff;
	}
	
	/* Grouped --- */
	#js-mainnav.megamenu.blackwhite .group-title {
	
	}
	
	#js-mainnav.megamenu.blackwhite .group-title a.group {
		/*
		padding-bottom: .4em;
		border-bottom: 1px dotted #e9e9e9;
		*/
	}
	
	#js-mainnav.megamenu.blackwhite .group-title .menu-title {
		color: #777777;
		font-size: 12px;
		font-weight: bold;
		text-shadow: 0px 1px 1px #ffffff;
		/*margin-bottom: 0.6em;*/
	}
	
	#js-mainnav.megamenu.blackwhite .group-content .menu-desc,
	#js-mainnav.megamenu.blackwhite .group-title .menu-desc {
		font-size: 9px;
		color: #bbbbbb;
		text-transform: uppercase;
	}
	
	#js-mainnav.megamenu.blackwhite span.menu-desc {
		padding: 0;
	}
	
	#js-mainnav.megamenu.blackwhite li.mega.group-divison {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border: 1px dotted #e9e9e9 !important;
	}
	#js-meganav{
	    display: block;
	}
	
	@media screen and (max-width: 984px) {
		
		#js-mainnav.megamenu.noJS #css3-ToggleResponsive,
		#js-mainnav.megamenu #js-megaMenuToggle {
			display: block;
			padding: 12px 15px;
			cursor: pointer;
			font-size: 10px;
			text-transform: uppercase;
			text-align: left;
		}
		
		#js-mainnav.megamenu #js-megaMenuToggle { display: block !important; }
		
		#js-mainnav.megamenu.noJS #css3-ToggleResponsive .megaMenuToggle-icon,
		#js-mainnav.megamenu #js-megaMenuToggle .megaMenuToggle-icon {
			display: inline-block;
			background: rgba(230, 230, 230, 0.7);
			height: 2px;
			width: 16px;
			position: relative;
			float: right;
			margin-top: 10px;
			text-align: left;
		}
		
		#js-mainnav.megamenu.noJS #css3-ToggleResponsive .megaMenuToggle-icon:before,
		#js-mainnav.megamenu #js-megaMenuToggle .megaMenuToggle-icon:before {
			content: '';
			position: absolute;
			background: rgba(230, 230, 230, 0.8);
			height: 2px;
			width: 16px;
			top: -4px;
		}
		
		#js-mainnav.megamenu.noJS #css3-ToggleResponsive .megaMenuToggle-icon:after,
		#js-mainnav.megamenu #js-megaMenuToggle .megaMenuToggle-icon:after {
			content: '';
			position: absolute;
			background: rgba(230, 230, 230, 0.9);
			height: 2px;
			width: 16px;
			top: -8px;
		}
		
		#js-mainnav.megamenu {
			width: 100% !important;
			overflow: hidden;
		}
	
	    #js-mainnav.megamenu ul.level0{
			float:none !important;
			font-size: 12px;
	    }
	
	    #js-mainnav.megamenu ul.level0 li.mega{
			float:none !important;
	        position:relative;
			background-image:none !important;
	    }
		
		#js-mainnav.megamenu ul.megamenu li.mega a.mega span.menu-desc {
			display: none;
		}
	
		#js-mainnav.megamenu ul.level1 li.mega span.mega,
		#js-mainnav.megamenu ul.level1 li.mega a.mega {
			padding-left:20px !important;
		}
	
		#js-mainnav.megamenu ul.level2 li.mega span.mega,
		#js-mainnav.megamenu ul.level2 li.mega a.mega{
			padding-left:30px !important;
		}
	
		#js-mainnav.megamenu ul.level3 li.mega span.mega,
		#js-mainnav.megamenu ul.level3 li.mega a.mega{
			padding-left:40px !important;
		}
	
		#js-mainnav.megamenu ul.level4 li.mega span.mega,
		#js-mainnav.megamenu ul.level4 li.mega a.mega{
			padding-left:50px !important;
		}
	
		#js-mainnav.megamenu ul.level0 li.mega span.mega,
	    #js-mainnav.megamenu ul.level0 li.mega a.mega{
	        padding:15px 10px;
	    }
	
		#js-mainnav.megamenu .js-megamenu {
			font-size: 12px;	
		}
	
		#js-mainnav.megamenu.megamenu.vertical.right ul.level0 li.mega a.mega {
			text-align:left !important;
		}
	
		#js-mainnav.megamenu.megamenu.vertical.right .js-megamenu ul.level0 li.mega .childcontent {
			right:0px !important;
		}
	
	    #js-mainnav.megamenu .js-megamenu li.mega .childcontent {
			height: 100% !important;
			margin: 0 !important;
			position: relative;
			width: 100% !important;
			overflow:visible !important;
		}
	
		#js-mainnav.megamenu ul.level0 li a.haschild.mega span.menu-title,
		#js-mainnav.megamenu ul.level0 li a.haschild-over.mega span.menu-title{
			background:none !important;
			padding-left:0px !important;
		}
	
		#js-mainnav.megamenu ul.level1 li.haschild,
		#js-mainnav.megamenu ul.level1 li.haschild-over {
			background: none !important;
		}
	
		#js-mainnav.megamenu .childcontent-inner-wrap{
			margin:0px !important;
		}
	
		#js-mainnav.megamenu .childcontent-inner-wrap,
		#js-mainnav.megamenu .childcontent-inner,
		#js-mainnav.megamenu .megacol{
			width:100% !important;
		}
	
		#js-mainnav.megamenu ul.megamenu{
			margin: 0px !important;
		}
	
		#js-mainnav.megamenu .megacol,.childcontent-inner{
			border:none !important;
			float: none !important;
		}
	
		#js-mainnav.megamenu ul.level0 li.haschild span.arrow-icon,
		#js-mainnav.megamenu ul.level0 li.haschild-over span.arrow-icon {
			display: block;
			float: right;
			position: absolute;
			right: 2px;
			top:2px;
			z-index: 99;
		}
	
		#js-mainnav.megamenu ul.level0 li.haschild span.arrow-icon,
		#js-mainnav.megamenu ul.level0 li.haschild-over span.arrow-icon{
			display:block;
			cursor: pointer;
		}
	
		#js-mainnav.megamenu ul.level0 li.haschild span.arrow-icon {
			background: url("/modules/mod_jse_megamenu/assets/images/arrow_down.png") no-repeat scroll 100% 0px transparent !important;
			display: block !important;
			text-indent: 9999px;
			width: 40px;
			height: 31px;
			border: 0 none !important;
			padding: 0 !important;
			margin: 0 !important;
			-webkit-box-shadow: none !important;
			-moz-box-shadow: none !important;
			box-shadow: none !important;
		}
	
		#js-mainnav.megamenu ul.level0 li.haschild-over span.arrow-icon {
			background: url("/modules/mod_jse_megamenu/assets/images/close.png") no-repeat scroll 100% 0 transparent;
			display: block !important;
			height: 31px;
			text-indent: 9999px;
			width: 40px;
			padding: 0 !important;
			margin: 0 !important;
			border: 0 none !important;
			-webkit-box-shadow: none !important;
			-moz-box-shadow: none !important;
			box-shadow: none !important;
		}
	
		#js-mainnav.megamenu ul.level1 li.mega span.arrow-icon{
			display:none;
		}
	
		#js-mainnav.megamenu ul.level1 li.haschild span.arrow-icon,
		#js-mainnav.megamenu ul.level1 li.haschild-over span.arrow-icon {
			display: block;
			float: right;
			position: absolute;
			right: 2px;
			top:2px;
			z-index: 99;
		}
		
		#js-mainnav.megamenu ul.level0 li.mega.submenu-align-fullwidth {
			position: relative !important;
		}
		
		/******************************************************************************************/
		/*                                    CSS3 RESPONSIVE                                     */
		/******************************************************************************************/
		/*
		#js-mainnav.megamenu.noJS #css3-ToggleResponsive {
			display: block;
		}
		
		#js-mainnav.megamenu.noJS li {
			display: none;
		}
	
		#js-mainnav.megamenu.noJS:hover li {
			display: block;
		}
		
		#js-mainnav.megamenu.noJS:hover #css3-ToggleResponsive {
			display: none;
		}
		
		#js-mainnav.noJS ul.megamenu li.haschild > div.childcontent {
			display: none;
		}
		
		#js-mainnav.noJS ul.megamenu li.haschild:hover > div.childcontent {
			display: block;
		}
	 */
		
		#js-mainnav.megamenu.noJS ul.megamenu li {
			display: none;
			padding: 0 !important;
			border: 0 !important;
			border-radius: 0 !important;
		}
		
		#js-mainnav.megamenu.noJS ul.megamenu li a {
			position: relative;
		}
		
		#js-mainnav.megamenu.noJS #css3-ToggleResponsive {
			display: block;
			border-radius: 5px;
			padding: 15px;
		}
		
		#js-mainnav.megamenu.noJS:hover #css3-ToggleResponsive {
			/*display: none;*/
		}
		
		#js-mainnav.megamenu.noJS:hover ul.megamenu li {
			display: block;
		}
		
		#js-mainnav.megamenu.noJS ul.megamenu li.haschild a.haschild {
			
		}
		
		#js-mainnav.megamenu.noJS ul.megamenu li.haschild > div.childcontent {
			display: none;
		}
		
		#js-mainnav.megamenu.noJS ul.megamenu li.haschild:hover > div.childcontent {
			display: block;
		}
		
		/* CSS 3 arrow down*/
		#js-mainnav.megamenu.noJS ul.level0 li.mega > a.haschild:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 12px;
			width: 0;
			height: 0;
			border-top: 4px solid #a6a6a6;
			border-right: 3px solid transparent;
			border-left: 3px solid transparent;
		}
		
		#js-mainnav.megamenu.noJS ul.level0 li.mega.haschild:hover > a.haschild:after {
			border-top-color: #fff;
		}
	}
	
	
	/************************************
	*									*
	*	FIn Modulo Traduccion - Home    *
	*									*
	*    								*
	*************************************/
	
	
	/************************************
	*									*
	*	Modulo Menu - Home				*
	*									*
	*   Fechas Modificacion 12-03-2015  *
	*									*
	*************************************/
	
	
	#menu { position:relative; z-index:999;}
		.nuevo{
			border-right: solid 1px #55d803;
			background: url(/images/bg-menu.jpg) repeat-x;
			font-size: 13px;
			width: auto;
			height: 24px;
			text-align: center;
			line-height: 1.2;
			padding-top: 3px;
			}
		.nuevo a {
			text-decoration: none !important;
			color: #fff;
			line-height: 1.2;
			font-weight:normal;
			height: 20px;
			padding-top: 4px;
			padding-bottom: 6px;
			padding-left: 10px;
			padding-right: 10px;
	
		}
		.menu_opcion {
			border-right: solid 1px #55d803;
			background: url(/images/bg-menu.jpg) repeat-x;
			margin: 0px;
			list-style: none;
			overflow: hidden;
			text-align:center;
			padding: 0px;
			
			
		}
		.contenido1 a { font-size: 15px; 
		font-family: arial narrow;
		text-align: justify;
		font-weight: normal;
		text-decoration: none !important;
		color:#fff;
		}
		.menu_opcion a {
			font-family: arial narrow;
			font-size: 14.0px;
			color: #fff;
			line-height: 28px;
			text-decoration: none;
			display: block;
			padding: 0 11.8px;
			font-weight: normal;
		}
		.menu_opcion a:hover {
			background: url(/images/bgover-menu.jpg) repeat-x;
			text-decoration: none !important;
			color: #3b9900;
			height:28px;
		}
		.menu_opcion_ministerio {
			font-family: 'arial narrow';
			font-size: 12px;
			width: auto;
			height: 30px;
			text-align: center;
			border-right: solid 1px #d5d5d5;
			line-height: 1.2;
			min-width:149px;
		}
		.menu_opcion_ministerio:last-child {
			border:none;
		}
		.menu_opcion_ministerio:hover {
		background: rgb(75, 193, 3);
			background: -moz-linear-gradient(top, #3a9901 0%, #48bf03 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(58, 153, 1)), color-stop(100%, rgb(72, 191, 3)));
			background: -webkit-linear-gradient(top, rgb(58, 153, 1) 0%, rgb(72, 191, 3) 100%);
			background: -o-linear-gradient(top, #3a9901 0%, #48bf03 100%);
			background: -ms-linear-gradient(top, #3a9901 0%, #48bf03 100%);
			background: linear-gradient(to bottom, rgb(58, 153, 1) 0%, rgb(72, 191, 3) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a9901', endColorstr='#48bf03', GradientType=0 );
			font-family: 'arial narrow'; border:none;
		}
		.menu_opcion_ministerio a:hover {
			background: rgb(75, 193, 3);
			background: -moz-linear-gradient(top, #3a9901 0%, #48bf03 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(58, 153, 1)), color-stop(100%, rgb(72, 191, 3)));
			background: -webkit-linear-gradient(top, rgb(58, 153, 1) 0%, rgb(72, 191, 3) 100%);
			background: -o-linear-gradient(top, #3a9901 0%, #48bf03 100%);
			background: -ms-linear-gradient(top, #3a9901 0%, #48bf03 100%);
			background: linear-gradient(to bottom, rgb(58, 153, 1) 0%, rgb(72, 191, 3) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a9901', endColorstr='#48bf03', GradientType=0 );
			font-family: 'arial narrow';
			color:#FFF;
			font-size: 12px;
			width: 131px;
			height: 30px;
			text-align: center;
			line-height: 2.9;
			padding-left: 14px;
			padding-right: 14px;
			padding-top: 9px; border:none;
			padding-bottom: 8px;
		}
		.menu_opcion_ministerio a {
			line-height: 2.9;
			text-decoration: none !important;
			color: rgb(59, 153, 0);
			margin: 0;
			list-style: none;
			overflow: hidden;
			padding: 0;
			font-family: arial narrow;
			padding-left: 14px;
			padding-right: 14px;
			padding-top: 9px;
			padding-bottom: 8px;
		}
		.menu_opcion_ministerio_areas a {
		line-height: 1.9;
		width: 153px;
		height: 23px;
		float: left;
		text-decoration: none !important;
		color: rgb(59, 153, 0);
		margin: 0;
		list-style: none;
		overflow: hidden;
		padding: 0;
		font-family: arial narrow;
		font-size: 12px;
		text-align: center;
		font-family: 'arial narrow';
		border: none;
		padding-left: 25px;
		}
		.menu_opcion_ministerio_areas a:hover {
			line-height: 1.9;
		width: 153px;
		height: 23px;
		float: left;
		text-decoration: none !important;
		color: #FFFFFF;
		margin: 0;
		list-style: none;
		overflow: hidden;
		padding: 0;
		font-family: arial narrow;
		font-size: 12px;
		text-align: center;
		background: rgb(75, 193, 3);
		background: -moz-linear-gradient(top, #3a9901 0%, #48bf03 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(58, 153, 1)), color-stop(100%, rgb(72, 191, 3)));
		background: -webkit-linear-gradient(top, rgb(58, 153, 1) 0%, rgb(72, 191, 3) 100%);
		background: -o-linear-gradient(top, #3a9901 0%, #48bf03 100%);
		background: -ms-linear-gradient(top, #3a9901 0%, #48bf03 100%);
		background: linear-gradient(to bottom, rgb(58, 153, 1) 0%, rgb(72, 191, 3) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a9901', endColorstr='#48bf03', GradientType=0 );
		font-family: 'arial narrow';
		border: none;
		padding-left: 25px;
		
		}
		.menu_opcion_ministerio_otros a {
		line-height: 1.9;
		width: 130px;
		height: 23px;
		float: left;
		text-decoration: none !important;
		color: rgb(59, 153, 0);
		margin: 0;
		list-style: none;
		overflow: hidden;
		padding: 0;
		font-family: arial narrow;
		font-size: 12px;
		text-align: center;
		font-family: 'arial narrow';
		border: none;
		padding-left: 25px;
		}
		.menu_opcion_ministerio_otros a:hover {
		line-height: 1.9;
		width: 130px;
		height: 23px;
		float: left;
		text-decoration: none !important;
		color: #FFFFFF;
		margin: 0;
		list-style: none;
		overflow: hidden;
		padding: 0;
		font-family: arial narrow;
		font-size: 12px;
		text-align: center;
		background: rgb(75, 193, 3);
		background: -moz-linear-gradient(top, #3a9901 0%, #48bf03 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(58, 153, 1)), color-stop(100%, rgb(72, 191, 3)));
		background: -webkit-linear-gradient(top, rgb(58, 153, 1) 0%, rgb(72, 191, 3) 100%);
		background: -o-linear-gradient(top, #3a9901 0%, #48bf03 100%);
		background: -ms-linear-gradient(top, #3a9901 0%, #48bf03 100%);
		background: linear-gradient(to bottom, rgb(58, 153, 1) 0%, rgb(72, 191, 3) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a9901', endColorstr='#48bf03', GradientType=0 );
		font-family: 'arial narrow';
		border: none;
		padding-left: 25px;
		
		}
		.menu_opcion2 {
			font-family: 'arial narrow';
			font-size: 12px;
			width: auto;
			height: 30px;
			text-align: center;
			border-right: solid 1px #d5d5d5;
			line-height: 1.2;
		}
		.menu_opcion2 a {
			text-decoration: none !important;
			color: #3b9900;
			float: left;
			margin: 0;
			list-style: none;
			overflow: hidden;
			padding: 0;
			font-family: arial narrow;
			line-height: 1.2;
			padding-left: 4px;
			padding-right: 3px;
		}
		.ingresar a {
			background: url(/images/bgbutton1.jpg) no-repeat;
			color: #fff;
			font-size: 16px;
			font-family: 'arialnarrown';
			height: 17px;
			width: 120px;
			text-align: left;
			position: relative;
			float: right;
			margin-right: 20px;
			text-decoration: none;
			padding: 5px 10px;
			border: solid #fff 1px;
			font-weight: normal;
		}
		.contenido1 {
			font-family: 'arialnarrown';
			font-size: 13px;
			padding:15px;
			color:#666;
		}
		.foto_imag1 {
			width:400px;
			height:200px;
			background:url(/images/fotos-tematicas-menu-principal/foto1.jpg);
		}
		.foto_imag2 {
			width:400px;
			height:200px;
			background:url(/images/fotos-tematicas-menu-principal/foto2.jpg);
		}
		.foto_imag3 {
			width:400px;
			height:200px;
			background:url(/images/fotos-tematicas-menu-principal/foto3.jpg);
		}
		.foto_imag4 {
			width:400px;
			height:200px;
			background:url(/images/fotos-tematicas-menu-principal/foto4.jpg);
		}
		.foto_imag5 {
			width:400px;
			height:200px;
			background:url(/images/fotos-tematicas-menu-principal/foto5.jpg)red;
		}
		.foto_imag6 {
			width:400px;
			height:200px;
			background:url(/images/fotos-tematicas-menu-principal/foto6.jpg);
		}
		.foto_imag7 {
			width:400px;
			height:200px;
			background:url(/images/fotos-tematicas-menu-principal/foto7.jpg);
		}
		#atencion a { font-family: arial;
		color: rgb(59, 153, 0);
		font-weight: normal;
		font-size: 13px !important; }
	
	/************************************
	*									*
	*	FIn Modulo Menu - Home    *
	*									*
	*    								*
	*************************************/
