/**
 * Main stylesheet
 *
 * @package         NoNumber Framework
 * @version         14.5.9
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2014 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
@import "init.less";
@import "font.less";

.nn_tablelist {
	td {
		height: 22px;
		color: @gray;
	}
	td.has-context {
		height: 23px;
	}
}
fieldset.nn_plaintext {
	margin-top: 5px;
}
.nn_code {
	#font > #family > .monospace;
	color: @grayLight;
}
div.nn_well {
	padding-bottom: 0;
	h4 {
		margin-top: 6px;
	}
}
.nn_well.alert-success,
.nn_well.alert-error {
	color: @grayDark;
}
.nn_btn-ignore.btn-danger.active {
	.buttonBackground(@btnBackground, @btnBackgroundHighlight, @grayDark, 0 1px 1px rgba(255, 255, 255, .75));
}
.nn_btn-exclude.btn-success.active {
	.buttonBackground(@btnDangerBackground, @btnDangerBackgroundHighlight);
}
.nn_textarea {
	.box-sizing(border-box);
}
.header .icon-nonumber:before {
	font-size: 20px !important;
}
.header .status .icon-nonumber:before {
	font-size: 16px !important;
}
.icon-back:before {
	content: "\e008";
}
.inlist .simplecolors-swatch span {
	position: relative;
}

/* Dropdown and dropup fixes */
.btn-toolbar .modal,
.btn-toolbar .dropdown-menu {
	font-size: 13px;
}
.dropdown {
	display: inline-block;
}

.dropdown-menu.dropup-menu {
	bottom: 100%;
	top: auto;
}

/* popovers */
.popover {
	width: auto;
	min-width: 200px;
}

/* icons */
.icon-color {
	background: transparent url(../images/icon-color.png) no-repeat;
	width: 16px !important;
	height: 16px !important;
}

body:not(.tpl_nonumber) {
	.j-main-container {
		.chzn-container-single .chzn-single {
			padding: 2px 12px;
		}
	}
	.chzn-container-single .chzn-single div {
		width: 20px;
	}
	.chzn-container-single .chzn-single div b {
		background: none;
		display: inline-block;
		width: 0;
		height: 0;
		vertical-align: top;
		border-top: 4px solid @black;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
		content: "";
		margin-top: 12px;
	}
	.chzn-container-active.chzn-with-drop .chzn-single div b {
		border-top: none;
		border-bottom: 4px solid @black;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
	}
}

.chzn-small {
	width: 120px;
}

// hide chosen dropdown on color picker J3.2.3+
div.chzn-container[id^="color_"][id$="_chzn"],
div.chzn-container#advancedparams_color_chzn {
	display: none;
}

.clearfix {
	.clearfix();
}

.input-maximize {
	&:hover,
	&:focus,
	.chzn-container:hover,
	.chzn-with-drop {
		min-width: 100%;
	}
}

.btn-group-yesno-reverse {
	.active {
		&.btn-success {
			.buttonBackground(@btnDangerBackground, @btnDangerBackgroundHighlight);
		}
		&.btn-danger {
			.buttonBackground(@btnSuccessBackground, @btnSuccessBackgroundHighlight);
		}
	}
}

.thumbnail-small > .thumbnail > img {
	max-width: 40px;
}
