/**
 * @version		$Id$
 * @author		Joomseller!
 * @package		Joomla.Site
 * @subpackage	mod_jse_megamenu
 * @copyright	Copyright (C) 2008 - 2013 by Joomseller. All rights reserved.
 * @license		http://www.gnu.org/licenses/gpl.html GNU/GPL version 3
*/

#js-mainnav.megamenu.darkblue {
	background: #014E72 url('../../images/grad1-mask.png') repeat-x top; /* you can change/delete the transparent gradient image or the background color */
}

#js-mainnav.megamenu.megamenu.horizontal.darkblue ul.level0 li:hover,
#js-mainnav.megamenu.megamenu.horizontal.darkblue ul.level0 li.active,
#js-mainnav.megamenu.megamenu.horizontal.darkblue ul.level0 li.over,
#js-mainnav.megamenu.megamenu.horizontal.darkblue ul.level0 li.haschild-over { 
    background: url('../../images/grad1-mask.png') repeat-x top; /* you can change/remove the transparent gradient or the color */
}

#js-mainnav.megamenu.darkblue #js-megaMenuToggle {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

/* lv - 0
-----------------------------------*/
/* Styling ---*/
#js-mainnav.megamenu.darkblue ul.level0 li.mega span.mega,
#js-mainnav.megamenu.darkblue ul.level0 li.mega a.mega,
#js-mainnav.megamenu.darkblue .megaMenuToggle {
    color: #fff;
	border-left: 1px solid #014E72; /* you should comment/delete this line */ 
}

#js-mainnav.megamenu.darkblue ul.level0 li:hover,
#js-mainnav.megamenu.darkblue ul.level0 li.active,
#js-mainnav.megamenu.darkblue ul.level0 li.over, 
#js-mainnav.megamenu.darkblue ul.level0 li.haschild-over { 
    background-color: #006699; /* you can change/remove the transparent gradient or the color */
}

/* Layout ---*/
#js-mainnav.megamenu.darkblue ul.level1 li.mega {
	border-top: 1px dotted #014E72;
}

#js-mainnav.megamenu.darkblue ul.level1 li.first {
	border-top: 0;
}

#js-mainnav.megamenu.darkblue ul.level1 li.mega span.mega,
#js-mainnav.megamenu.darkblue ul.level1 li.mega a.mega {
	border: 0;
}

#js-mainnav.megamenu.dèault ul.level1 li:hover,
#js-mainnav.megamenu.darkblue ul.level1 li.over,
#js-mainnav.megamenu.darkblue ul.level1 li.haschild-over { background-color: #006699; }


#js-mainnav.megamenu.darkblue ul.level1 li.haschild,
#js-mainnav.megamenu.darkblue ul.level1 li.haschild-over {
	background-image: url(../../images/arrow.png);
	background-repeat: no-repeat;
	background-position: 95% center;
}

/* CHILD CONTENT
-----------------------------------*/

#js-mainnav.megamenu.darkblue .childcontent-inner {
	background-color: #002A40; /*change here the color to match the new color you have set for mainnav */
	border: 0 none;
	border-bottom: 4px solid #006699;
	color: #fff;
}

#js-mainnav.megamenu.darkblue .childcontent-inner .group ul li.active {
	background-color: #00527C !important;
}

#js-mainnav.megamenu.darkblue .childcontent .group h3 {
	background: none;
	color: #fff;
	border-bottom: 1px dotted #006699;
}

#js-mainnav.megamenu.darkblue .childcontent .js-moduletable a {
	border-bottom: 1px dotted #ccc;
}

#js-mainnav.megamenu.darkblue .childcontent .moduletable { color: #fff; }

#js-mainnav.megamenu.darkblue .childcontent .js-moduletable a:hover,
#js-mainnav.megamenu.darkblue .childcontent .js-moduletable a:focus,
#js-mainnav.megamenu.darkblue .childcontent .js-moduletable a:active {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #fff;
}

/* Grouped --- */
#js-mainnav.megamenu.darkblue .group-title {
	border-bottom: 1px solid #006699;
}
#js-mainnav.megamenu.darkblue .group-title .menu-title {
	color: #fff;
}

#js-mainnav.megamenu.darkblue .group-title .menu-desc {
	color: #999;
}

/* Left alignment */
#js-mainnav.megamenu.darkblue ul.level0 li.mega.submenu-align-left > .childcontent {
	margin-left: 1px!important;
}