/**
 * @version		$Id$
 * @author		Joomseller!
 * @package		Joomla.Site
 * @subpackage	mod_jse_megamenu
 * @copyright	Copyright (C) 2008 - 2013 by Joomseller. All rights reserved.
 * @license		http://www.gnu.org/licenses/gpl.html GNU/GPL version 3
*/

#js-mainnav.megamenu.red {
	background: #9B1200 url('../../images/grad1-mask.png') repeat-x top; /* you can change/delete the transparent gradient image or the background color */
}

#js-mainnav.megamenu.megamenu.horizontal.red ul.level0 li:hover,
#js-mainnav.megamenu.megamenu.horizontal.red ul.level0 li.active,
#js-mainnav.megamenu.megamenu.horizontal.red ul.level0 li.over,
#js-mainnav.megamenu.megamenu.horizontal.red ul.level0 li.haschild-over { 
    background: url('../../images/grad1-mask.png') repeat-x top; /* you can change/remove the transparent gradient or the color */
}

#js-mainnav.megamenu.red #js-megaMenuToggle {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

/* lv - 0
-----------------------------------*/
/* Styling ---*/

#js-mainnav.megamenu.red ul.level0 li.mega span.mega,
#js-mainnav.megamenu.red ul.level0 li.mega a.mega,
#js-mainnav.megamenu.red .megaMenuToggle {
	border-left: 1px solid #C11900;
	color: #fff;
}

#js-mainnav.megamenu.red ul.level0 li:hover,
#js-mainnav.megamenu.red ul.level0 li.active,
#js-mainnav.megamenu.red ul.level0 li.over,
#js-mainnav.megamenu.red ul.level0 li.haschild-over {
	background-color: #FC2100;
}

/* Layout ---*/
#js-mainnav.megamenu.red ul.level1 li.mega {
	border-top: 1px dotted #D81900;
}

#js-mainnav.megamenu.red ul.level1 li.first {
	border-top: 0;
}

#js-mainnav.megamenu.red ul.level1 li.mega span.mega,
#js-mainnav.megamenu.red ul.level1 li.mega a.mega {
	border: 0;
}

#js-mainnav.megamenu.red ul.level1 li:hover,
#js-mainnav.megamenu.red ul.level1 li.over, 
#js-mainnav.megamenu.red ul.level1 li.haschild-over { background: rgb(211, 33, 9); }

#js-mainnav.megamenu.red ul.level1 li.haschild,
#js-mainnav.megamenu.red ul.level1 li.haschild-over {
	background-image: url(../../images/arrow.png);
	background-repeat: no-repeat;
	background-position: 95% center;
}

 /* CHILD CONTENT
-----------------------------------*/
#js-mainnav.megamenu.red .childcontent-inner {
	background-color: #9B1200; /*change here the color to match the new color you have set for mainnav */
	border: 0 none;
	color: #fff; /* after changing code above, you might want to change this color to make the text color readable  */ 
	border-bottom: 4px solid #D01B00;
}

#js-mainnav.megamenu.red .childcontent-inner .group ul li.active {
	background-color: #9B1200 !important;
}

#js-mainnav.megamenu.red .childcontent .group h3 {
	background: none;
	color: #fff;
	border-bottom: 1px dotted #D81900;
}

#js-mainnav.megamenu.red .childcontent .js-moduletable a {
	border-bottom: 1px dotted #ccc;
}

#js-mainnav.megamenu.red .childcontent .moduletable { color: #fff; }

#js-mainnav.megamenu.red .childcontent .js-moduletable a:hover,
#js-mainnav.megamenu.red .childcontent .js-moduletable a:focus,
#js-mainnav.megamenu.red .childcontent .js-moduletable a:active {
	color: #fff;
	border-bottom: 1px solid #fff;
}

/* Grouped --- */
#js-mainnav.megamenu.red .group-title {
	border-bottom: 1px solid #D01B00;
}

#js-mainnav.megamenu.red .group-title .menu-title {
	color: #fff;
}

#js-mainnav.megamenu.red .group-title .menu-desc {
	color: #999;
}

/* Left alignment */
#js-mainnav.megamenu.red ul.level0 li.mega.submenu-align-left > .childcontent {
	margin-left: 1px!important;
}