.noflash { padding:10px; margin:10px; border: 1px solid #555555; background-color: #fefefe; text-align:left; width:430px; -moz-border-radius: 15px; border-radius: 15px; }
.noflash p { text-align: center;}
div.flashcontent { padding:0;margin:0;border:none;}
.error { color:#FF0000; }
.errordiv { padding:10px; margin:10px; border: 1px solid #555555;color: #000000;background-color: #f8f8f8; text-align:center; width:360px; }
.w250 { width:250px; }
.w230 { width:230px; }


.jfu_lock {
background-position : -0px 1px;
background-image : url(images/mini.gif); 
background-color : transparent; 
background-repeat : no-repeat; 
width:14px;
height:14px;
}

.jfu_unlock {
background-position : -0px -15px;
background-image : url(images/mini.gif); 
background-color : transparent; 
background-repeat : no-repeat; 
width:14px;
height:14px;
}

.jfu_reset {
background-position : -0px -31px;
background-image : url(images/mini.gif); 
background-color : transparent; 
background-repeat : no-repeat; 
width:14px;
height:14px;
}

.jfu_caption {
background-position : -2px -47px;
background-image : url(images/mini.gif); 
background-color : transparent; 
background-repeat : no-repeat; 
width:14px;
height:14px;
}

.jfu_info {
background-position : -0px -62px;
background-image : url(images/mini.gif);
background-color : transparent;
background-repeat : no-repeat;
width:16px;
height:16px;
padding-top: 5px;
}

.jfu_rulerlines {
font-family: Arial, Helvetica, sans-serif;
border-left: 1px solid #888888;
height:4px;
}

.jfu_image_div_selector {
float:left;
margin-top:5px; 
width:628px;
border:1px solid #888888; 
padding:10px;
}
.jfu_image_div_panel {
float:left; 
font-family:arial;
font-size:12px;
line-height:1.4em;
padding-right:10px;
}

.jfu_image_div_panel_bottom {
float:left;
font-family:arial;
font-size:11px;
line-height:1.2em;
padding-right:10px;
padding-top:2px;
width:320px;
}

.jfu_rulertable {
line-height: 1; 
height:18px; 
border: none; 
font-size:9px;
font-family: Arial, Helvetica, sans-serif;
color:#888888;
}

.jfu_ruler_tr {
border: none; 
font-size:4px;
}

.jfu_ruler_noborder {
border: none;
padding: 0;
line-height: 1;
}

.jfu_image_buttons_right {
float:right; 
font-family:arial;
font-size:12px;
line-height:1.4em;
}

.jfu_fade {
color: #aaaaaa;
}
.jfu_not_fade {
color: #000000;    
}

/*
 *  Below you find an example you have to add to your template if you want to style the captions generated by JFU
 */

/*
 *  You can style the caption div how you like. By default only the text is centered. But feel free to add a 
 *  small border or anything else to it. 
 */ 
.jfu_caption_div {
  text-align:center;
}

/**
 * This is the caption text itself. You might want to add a little bit more space to the image...
 */ 
.jfu_caption {

}

.jfu_image_div_selector, .jfu_link_select {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.jfu_input, .jfu_select {
    padding:2px;
    margin:0px;
    margin-bottom:3px;
    font-family: Arial, Helvetica, sans-serif;
}

.jfu_input {
   font-size: 12px;
   padding-top:4px;
   padding-bottom:4px;
}

.jfu_select {
    height: 28px;
}

.nowrap {
  display: inline;
}

#jfu_as_caption {
    padding:0px;
    margin-left:3px;
    margin-right:4px;
    margin-top:0px;
    margin-bottom:12px;
}

#jfu_google_doc {
   margin-right: 1px;
   margin-top:0px;
}

div.google_doc {
   padding-top:25px;
}