/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.carrusel{
    margin-bottom: 40px;
}
.titulo-text{
    color: #19cc9a;
}
.av-text{
   color: #777777;
   font-size: 13px;
}
