*{
	margin:0px;
	padding:0px;
}

.fonto_texto_login{
	
background-color: #6d7b2e;
padding: 20px;
font-size: 24px;
position: absolute;
left: 50%;
top: 297px;
margin-left: -548px;
color: white;
width: 360px;
opacity: 0.4;
height: 120px;
	
}
.texto_login{
	
	
padding: 20px;
font-size: 29px;
position: absolute;
left: 50%;
top: 297px;
margin-left: -548px;
color: white;
width: 360px;

height: 200px;
	
	
}
div.web{

position: absolute;
top: 270px;
right: 50%;
background: url(/recursos_minambiente/images/pest-web.png) no-repeat;
width: 37px;
height: 370px;
margin-right: -563px;
cursor: pointer;

}


.tpl-content-general {
	margin: 0px auto;
	width: 1097px;
	height:688px;
	background: url(/recursos_minambiente/images/fondo-login.png) no-repeat;
	
	
}
.iconos-gobierno{
	margin: 0px auto;
	width: 100%;
}
.iconos-gobierno img{
	width: 37%;
	margin-top: 30px;
	float:right;
	background-color: #fff;
	border-radius: 9px;
	margin-right: 70px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 7px;
}
.formulario{
		
position: absolute;
margin-left: 630px;
margin-top: 130px;
width: 450px;
	
	
}
.well{
	
	border: 0px;
	
}

.nav-stacked{
 	display:none;
}

.btn1 {
	background-color: #9ec93c;
	color: white;
	padding: 3px;
	font-size: 18px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left: 30px;
	padding-right: 30px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
#password-lbl{
	
	
	
}

#username-lbl{
	
	
	
}
#password,#username{
	
	padding: 3px;
width: 277px;
margin-bottom: 16px;
background: #e6ded3;
color: #63b8bb;
font-size: 18px;
	
}
.btn-primary{
background-color: #9EC933;
color: white;
padding: 3px;
font-size: 17px;
border: 0px;
-webkit-border-radius: 2px;
-moz-border-radius: 5px;
border-radius: 2px;
padding-left: 30px;
padding-right: 30px;
-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
margin-left: 244px;

}
.alert-warning{
	
width: 256px;
color: white;
}
#contenedor-formulario-login {float: left;
width: 100%;
height: auto;
margin: 0px auto;
}
#label-l {
float: left;
width: 110px;
color:green;
font-weight: bold;
margin-top: 6px;
}
#inputs-l {
float: left;
}